<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_53bed5b8aef44c5ba93f1101f10bf49d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_53bed5b8aef44c5ba93f1101f10bf49d" ></div>
        
</body>
<script>    
    
            var map_53bed5b8aef44c5ba93f1101f10bf49d = L.map(
                "map_53bed5b8aef44c5ba93f1101f10bf49d",
                {
                    center: [-20.214066, -70.152465],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2a0f3e783a1444c09c46db63a5ca3c46 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_53bed5b8aef44c5ba93f1101f10bf49d);
        
    
            var marker_cluster_8f21cfc7b3664d5eb503aa11964713b8 = L.markerClusterGroup(
                {}
            );
            map_53bed5b8aef44c5ba93f1101f10bf49d.addLayer(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
            var marker_682b7f70ae8840bba460b2416b36bddf = L.marker(
                [-21.229, -68.923],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_fb25991f393940c3a5283e86e5e9813c = L.popup({"maxWidth": "100%"});

        
            var html_7b5dcd06658b472d9fea1fe54b6d9e7e = $(`<div id="html_7b5dcd06658b472d9fea1fe54b6d9e7e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 03:16:08<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 117.5 <strong>Referencia:</strong> 53 km al SO de Mina Collahuasi</div>`)[0];
            popup_fb25991f393940c3a5283e86e5e9813c.setContent(html_7b5dcd06658b472d9fea1fe54b6d9e7e);
        

        marker_682b7f70ae8840bba460b2416b36bddf.bindPopup(popup_fb25991f393940c3a5283e86e5e9813c)
        ;

        
    
    
            var marker_9dd423f26b0144079b0b73d606bf20d4 = L.marker(
                [-19.982, -69.139],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_f7a10334433246a5b6ed8a2fbda8bb18 = L.popup({"maxWidth": "100%"});

        
            var html_cd84c9094a174ccf808533ecc7d6f2c7 = $(`<div id="html_cd84c9094a174ccf808533ecc7d6f2c7" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 01:05:38<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 95.5 <strong>Referencia:</strong> 60 km al N de Pica</div>`)[0];
            popup_f7a10334433246a5b6ed8a2fbda8bb18.setContent(html_cd84c9094a174ccf808533ecc7d6f2c7);
        

        marker_9dd423f26b0144079b0b73d606bf20d4.bindPopup(popup_f7a10334433246a5b6ed8a2fbda8bb18)
        ;

        
    
    
            var marker_021defa4d2274d0a9ed40b9e7dc0da7a = L.marker(
                [-19.962, -71.031],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_67d725250e0d452b9bf7275a104a32e7 = L.popup({"maxWidth": "100%"});

        
            var html_ad94e2077ca5455e9af312cc0b701618 = $(`<div id="html_ad94e2077ca5455e9af312cc0b701618" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 22:30:16<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 95 km al SO de Pisagua</div>`)[0];
            popup_67d725250e0d452b9bf7275a104a32e7.setContent(html_ad94e2077ca5455e9af312cc0b701618);
        

        marker_021defa4d2274d0a9ed40b9e7dc0da7a.bindPopup(popup_67d725250e0d452b9bf7275a104a32e7)
        ;

        
    
    
            var marker_ffc1048926a041bbbac1586c5ff449e6 = L.marker(
                [-19.904, -69.885],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_f4f052eba1f64a35a6e36a67f25a5645 = L.popup({"maxWidth": "100%"});

        
            var html_45a5d3ca705c4e6abd2c76609cdcbc87 = $(`<div id="html_45a5d3ca705c4e6abd2c76609cdcbc87" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 17:10:58<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 53.2 <strong>Referencia:</strong> 41 km al N de Pozo Almonte</div>`)[0];
            popup_f4f052eba1f64a35a6e36a67f25a5645.setContent(html_45a5d3ca705c4e6abd2c76609cdcbc87);
        

        marker_ffc1048926a041bbbac1586c5ff449e6.bindPopup(popup_f4f052eba1f64a35a6e36a67f25a5645)
        ;

        
    
    
            var marker_25f738b9bd1848f194f77fa400d7eb01 = L.marker(
                [-21.38, -68.762],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_2e79edd98ce54fc8a2a0b061b14925fb = L.popup({"maxWidth": "100%"});

        
            var html_9244f73320fc4e0e9effbff90ce784ea = $(`<div id="html_9244f73320fc4e0e9effbff90ce784ea" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 04:25:18<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 117.3 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_2e79edd98ce54fc8a2a0b061b14925fb.setContent(html_9244f73320fc4e0e9effbff90ce784ea);
        

        marker_25f738b9bd1848f194f77fa400d7eb01.bindPopup(popup_2e79edd98ce54fc8a2a0b061b14925fb)
        ;

        
    
    
            var marker_d44d068e273247719dc7034c292a7e7f = L.marker(
                [-20.289, -69.304],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_2e91730c60114ce7892b18b02f019181 = L.popup({"maxWidth": "100%"});

        
            var html_e32562e082c4480b895eac48b98c170a = $(`<div id="html_e32562e082c4480b895eac48b98c170a" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 18:05:13<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 89.6 <strong>Referencia:</strong> 23 km al N de Pica</div>`)[0];
            popup_2e91730c60114ce7892b18b02f019181.setContent(html_e32562e082c4480b895eac48b98c170a);
        

        marker_d44d068e273247719dc7034c292a7e7f.bindPopup(popup_2e91730c60114ce7892b18b02f019181)
        ;

        
    
    
            var marker_ca352671f2044edb9c3c01359ab7de45 = L.marker(
                [-21.033, -68.982],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_90835b413cdf450dbc656ac300d5b314 = L.popup({"maxWidth": "100%"});

        
            var html_5d3130d0f83d40b3b11ec82b21d4e280 = $(`<div id="html_5d3130d0f83d40b3b11ec82b21d4e280" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 16:26:58<br><strong>magnitud:</strong> 3.2<br><strong>Profundidad:</strong> 110.3 <strong>Referencia:</strong> 41 km al SO de Mina Collahuasi</div>`)[0];
            popup_90835b413cdf450dbc656ac300d5b314.setContent(html_5d3130d0f83d40b3b11ec82b21d4e280);
        

        marker_ca352671f2044edb9c3c01359ab7de45.bindPopup(popup_90835b413cdf450dbc656ac300d5b314)
        ;

        
    
    
            var marker_939b9328453f4a93beb4abb761c08f65 = L.marker(
                [-21.411, -69.623],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_3b07e71919eb4f92a1124ca63a0b38bd = L.popup({"maxWidth": "100%"});

        
            var html_5d8a67cbea7440628a6965e675c62b5a = $(`<div id="html_5d8a67cbea7440628a6965e675c62b5a" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 15:48:21<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 67.0 <strong>Referencia:</strong> 29 km al N de Quillagua</div>`)[0];
            popup_3b07e71919eb4f92a1124ca63a0b38bd.setContent(html_5d8a67cbea7440628a6965e675c62b5a);
        

        marker_939b9328453f4a93beb4abb761c08f65.bindPopup(popup_3b07e71919eb4f92a1124ca63a0b38bd)
        ;

        
    
    
            var marker_41cef2a0cfbd4508afaa3a08a57b4222 = L.marker(
                [-19.759, -69.13],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_ba2e6691cfc14cb6bb2e9c0535545df3 = L.popup({"maxWidth": "100%"});

        
            var html_1a55a5944a5544759a640e571a9a3b3c = $(`<div id="html_1a55a5944a5544759a640e571a9a3b3c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-07 21:26:15<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 99.6 <strong>Referencia:</strong> 59 km al SE de Camiña</div>`)[0];
            popup_ba2e6691cfc14cb6bb2e9c0535545df3.setContent(html_1a55a5944a5544759a640e571a9a3b3c);
        

        marker_41cef2a0cfbd4508afaa3a08a57b4222.bindPopup(popup_ba2e6691cfc14cb6bb2e9c0535545df3)
        ;

        
    
    
            var marker_62bf22f44b2d47e795ce3b344faa520c = L.marker(
                [-21.077, -68.96],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_d8154549c5b547629c941ba9295aa47d = L.popup({"maxWidth": "100%"});

        
            var html_014dfa5d0e794ab5a3c500f8e8b67695 = $(`<div id="html_014dfa5d0e794ab5a3c500f8e8b67695" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 21:27:51<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 110.0 <strong>Referencia:</strong> 42 km al SO de Mina Collahuasi</div>`)[0];
            popup_d8154549c5b547629c941ba9295aa47d.setContent(html_014dfa5d0e794ab5a3c500f8e8b67695);
        

        marker_62bf22f44b2d47e795ce3b344faa520c.bindPopup(popup_d8154549c5b547629c941ba9295aa47d)
        ;

        
    
    
            var marker_07f359e1a9a54d25bd2e632c6585bfe2 = L.marker(
                [-21.214, -70.385],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_954a38bfdd2340c79273864c0f9f973b = L.popup({"maxWidth": "100%"});

        
            var html_306492f1f3e547bc9333040607673fdf = $(`<div id="html_306492f1f3e547bc9333040607673fdf" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 06:23:44<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 26.5 <strong>Referencia:</strong> 100 km al N de Tocopilla</div>`)[0];
            popup_954a38bfdd2340c79273864c0f9f973b.setContent(html_306492f1f3e547bc9333040607673fdf);
        

        marker_07f359e1a9a54d25bd2e632c6585bfe2.bindPopup(popup_954a38bfdd2340c79273864c0f9f973b)
        ;

        
    
    
            var marker_f10c5ec289de4d558ac9ae9f9571b90d = L.marker(
                [-21.48, -68.428],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_2f220aec39f545dc9f81eb353fa7e940 = L.popup({"maxWidth": "100%"});

        
            var html_784f82d2a8614b6d9cb73a7a4052e25a = $(`<div id="html_784f82d2a8614b6d9cb73a7a4052e25a" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 05:35:12<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 135.3 <strong>Referencia:</strong> 34 km al SO de Ollagüe</div>`)[0];
            popup_2f220aec39f545dc9f81eb353fa7e940.setContent(html_784f82d2a8614b6d9cb73a7a4052e25a);
        

        marker_f10c5ec289de4d558ac9ae9f9571b90d.bindPopup(popup_2f220aec39f545dc9f81eb353fa7e940)
        ;

        
    
    
            var marker_a511282a125d457b9b60a72ff1c18a3a = L.marker(
                [-20.158, -70.006],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_3db5915046a8415e889965bd3e199682 = L.popup({"maxWidth": "100%"});

        
            var html_2276f54653be4afab08cacfc7f986541 = $(`<div id="html_2276f54653be4afab08cacfc7f986541" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 01:54:51<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 50.5 <strong>Referencia:</strong> 16 km al NE de Alto Hospicio</div>`)[0];
            popup_3db5915046a8415e889965bd3e199682.setContent(html_2276f54653be4afab08cacfc7f986541);
        

        marker_a511282a125d457b9b60a72ff1c18a3a.bindPopup(popup_3db5915046a8415e889965bd3e199682)
        ;

        
    
    
            var marker_b8ee056068bb477ea528b76eeb3201c0 = L.marker(
                [-20.794, -69.159],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_3d34ae1c17774825a97efd731be3d008 = L.popup({"maxWidth": "100%"});

        
            var html_f4e70741d7e746bfbf04bb2ff7bc250a = $(`<div id="html_f4e70741d7e746bfbf04bb2ff7bc250a" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 19:28:21<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 96.1 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_3d34ae1c17774825a97efd731be3d008.setContent(html_f4e70741d7e746bfbf04bb2ff7bc250a);
        

        marker_b8ee056068bb477ea528b76eeb3201c0.bindPopup(popup_3d34ae1c17774825a97efd731be3d008)
        ;

        
    
    
            var marker_48e595bdc0c84f1eb3e293f89037ae0c = L.marker(
                [-21.297, -69.7],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_f85f2ab71e1746f0b4584a3d7f427465 = L.popup({"maxWidth": "100%"});

        
            var html_1b228cb1d23a4cf8bf78b2940984b350 = $(`<div id="html_1b228cb1d23a4cf8bf78b2940984b350" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 14:51:59<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 47.5 <strong>Referencia:</strong> 44 km al NO de Quillagua</div>`)[0];
            popup_f85f2ab71e1746f0b4584a3d7f427465.setContent(html_1b228cb1d23a4cf8bf78b2940984b350);
        

        marker_48e595bdc0c84f1eb3e293f89037ae0c.bindPopup(popup_f85f2ab71e1746f0b4584a3d7f427465)
        ;

        
    
    
            var marker_aaaa2b4836e242b38516bad8f7498066 = L.marker(
                [-20.438, -69.067],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_4ccc8f1234b94e419aac29e48f8c980c = L.popup({"maxWidth": "100%"});

        
            var html_8fa6282e41534fb2a43b7e0f8a4ce55c = $(`<div id="html_8fa6282e41534fb2a43b7e0f8a4ce55c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 02:10:15<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 28 km al E de Pica</div>`)[0];
            popup_4ccc8f1234b94e419aac29e48f8c980c.setContent(html_8fa6282e41534fb2a43b7e0f8a4ce55c);
        

        marker_aaaa2b4836e242b38516bad8f7498066.bindPopup(popup_4ccc8f1234b94e419aac29e48f8c980c)
        ;

        
    
    
            var marker_a192cb9271fa4ad59b0711b6e171ad71 = L.marker(
                [-21.113, -68.685],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_a526b0fb8b2e4f389ad02b4b0aacda81 = L.popup({"maxWidth": "100%"});

        
            var html_4be6fc6e1ee343178d2df00f0c67785e = $(`<div id="html_4be6fc6e1ee343178d2df00f0c67785e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 23:17:26<br><strong>magnitud:</strong> 3.9<br><strong>Profundidad:</strong> 124.0 <strong>Referencia:</strong> 32 km al S de Mina Collahuasi</div>`)[0];
            popup_a526b0fb8b2e4f389ad02b4b0aacda81.setContent(html_4be6fc6e1ee343178d2df00f0c67785e);
        

        marker_a192cb9271fa4ad59b0711b6e171ad71.bindPopup(popup_a526b0fb8b2e4f389ad02b4b0aacda81)
        ;

        
    
    
            var marker_f45791b8f28e43418568f8c8ec4ca77e = L.marker(
                [-21.097, -68.915],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_4952ac32e84d444aaa37e71d9200d809 = L.popup({"maxWidth": "100%"});

        
            var html_8bc4ac19a5c044f98a5e1414d940305c = $(`<div id="html_8bc4ac19a5c044f98a5e1414d940305c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 22:54:15<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 108.6 <strong>Referencia:</strong> 40 km al SO de Mina Collahuasi</div>`)[0];
            popup_4952ac32e84d444aaa37e71d9200d809.setContent(html_8bc4ac19a5c044f98a5e1414d940305c);
        

        marker_f45791b8f28e43418568f8c8ec4ca77e.bindPopup(popup_4952ac32e84d444aaa37e71d9200d809)
        ;

        
    
    
            var marker_220aa6c132e8452584ccaa9ac2534bb8 = L.marker(
                [-19.498, -69.988],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_b05126654c2d48ffaad6f55f09cd7751 = L.popup({"maxWidth": "100%"});

        
            var html_2f015594d24e48f086841a2ccefc4300 = $(`<div id="html_2f015594d24e48f086841a2ccefc4300" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:41<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 83.0 <strong>Referencia:</strong> 26 km al NE de Pisagua</div>`)[0];
            popup_b05126654c2d48ffaad6f55f09cd7751.setContent(html_2f015594d24e48f086841a2ccefc4300);
        

        marker_220aa6c132e8452584ccaa9ac2534bb8.bindPopup(popup_b05126654c2d48ffaad6f55f09cd7751)
        ;

        
    
    
            var marker_339a4c07146c4e7190c700bd5245a2f7 = L.marker(
                [-21.412, -68.779],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_db487fd1cff44c2897db38ec4423f3eb = L.popup({"maxWidth": "100%"});

        
            var html_7ee91c6af2864ab88df08cc1df535906 = $(`<div id="html_7ee91c6af2864ab88df08cc1df535906" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 05:02:16<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 103.6 <strong>Referencia:</strong> 58 km al O de Ollagüe</div>`)[0];
            popup_db487fd1cff44c2897db38ec4423f3eb.setContent(html_7ee91c6af2864ab88df08cc1df535906);
        

        marker_339a4c07146c4e7190c700bd5245a2f7.bindPopup(popup_db487fd1cff44c2897db38ec4423f3eb)
        ;

        
    
    
            var marker_9990931a802144098536d2591fdfe910 = L.marker(
                [-21.318, -69.933],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_a84a7ba5dc8c49f4ab826af90fb2c581 = L.popup({"maxWidth": "100%"});

        
            var html_abc773ec57ce425085aed6ac2ccb24a5 = $(`<div id="html_abc773ec57ce425085aed6ac2ccb24a5" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 02:52:57<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 47.0 <strong>Referencia:</strong> 56 km al NO de Quillagua</div>`)[0];
            popup_a84a7ba5dc8c49f4ab826af90fb2c581.setContent(html_abc773ec57ce425085aed6ac2ccb24a5);
        

        marker_9990931a802144098536d2591fdfe910.bindPopup(popup_a84a7ba5dc8c49f4ab826af90fb2c581)
        ;

        
    
    
            var marker_d0f4e8d2fdc546eeb8c4dd2e52462e4a = L.marker(
                [-20.601, -68.982],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_2f0871aba6d94fc8942a2066f1bddfc2 = L.popup({"maxWidth": "100%"});

        
            var html_7ed2e2e9b4bf4423bb3fa6c6de2adbf1 = $(`<div id="html_7ed2e2e9b4bf4423bb3fa6c6de2adbf1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 17:45:25<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 105.2 <strong>Referencia:</strong> 38 km al E de Pica</div>`)[0];
            popup_2f0871aba6d94fc8942a2066f1bddfc2.setContent(html_7ed2e2e9b4bf4423bb3fa6c6de2adbf1);
        

        marker_d0f4e8d2fdc546eeb8c4dd2e52462e4a.bindPopup(popup_2f0871aba6d94fc8942a2066f1bddfc2)
        ;

        
    
    
            var marker_39aa2c1fc3724f279d2b143c1881b22c = L.marker(
                [-21.572, -68.62],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_cf59112c6e8e4cb08f0da4c994de73f6 = L.popup({"maxWidth": "100%"});

        
            var html_5d0621f33acf40c9a57e42eaad4981fa = $(`<div id="html_5d0621f33acf40c9a57e42eaad4981fa" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:50:50<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 125.0 <strong>Referencia:</strong> 54 km al SO de Ollagüe</div>`)[0];
            popup_cf59112c6e8e4cb08f0da4c994de73f6.setContent(html_5d0621f33acf40c9a57e42eaad4981fa);
        

        marker_39aa2c1fc3724f279d2b143c1881b22c.bindPopup(popup_cf59112c6e8e4cb08f0da4c994de73f6)
        ;

        
    
    
            var marker_3705d7afc1fd40df95596c4d6f648b2c = L.marker(
                [-19.497, -69.904],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_cada8f736b6740549aed5f9560935326 = L.popup({"maxWidth": "100%"});

        
            var html_f58c9972e12e4578b2bf6082f49b791c = $(`<div id="html_f58c9972e12e4578b2bf6082f49b791c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:42<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 44.7 <strong>Referencia:</strong> 34 km al E de Pisagua</div>`)[0];
            popup_cada8f736b6740549aed5f9560935326.setContent(html_f58c9972e12e4578b2bf6082f49b791c);
        

        marker_3705d7afc1fd40df95596c4d6f648b2c.bindPopup(popup_cada8f736b6740549aed5f9560935326)
        ;

        
    
    
            var marker_eb022ef7ab824fbd8ccf301f5797425c = L.marker(
                [-21.347, -68.734],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_69d58e9c748e4def9f09ce5853bb7672 = L.popup({"maxWidth": "100%"});

        
            var html_f4abc736a5eb4c3db70234280bc7dd56 = $(`<div id="html_f4abc736a5eb4c3db70234280bc7dd56" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:12:19<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 115.3 <strong>Referencia:</strong> 52 km al O de Ollagüe</div>`)[0];
            popup_69d58e9c748e4def9f09ce5853bb7672.setContent(html_f4abc736a5eb4c3db70234280bc7dd56);
        

        marker_eb022ef7ab824fbd8ccf301f5797425c.bindPopup(popup_69d58e9c748e4def9f09ce5853bb7672)
        ;

        
    
    
            var marker_c3d08c942ff84705a1a3c946ca0f51c2 = L.marker(
                [-21.103, -68.471],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_92a8d7b19efc4621a754675b26db9f26 = L.popup({"maxWidth": "100%"});

        
            var html_d9bf2331a27c4fdc92129ef93770769e = $(`<div id="html_d9bf2331a27c4fdc92129ef93770769e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 03:58:26<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 130.4 <strong>Referencia:</strong> 26 km al NO de Ollagüe</div>`)[0];
            popup_92a8d7b19efc4621a754675b26db9f26.setContent(html_d9bf2331a27c4fdc92129ef93770769e);
        

        marker_c3d08c942ff84705a1a3c946ca0f51c2.bindPopup(popup_92a8d7b19efc4621a754675b26db9f26)
        ;

        
    
    
            var marker_341774f75e444f9ba5a8bc650a085f7e = L.marker(
                [-21.512, -68.832],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_d87c613801804032bfde03dd912b1415 = L.popup({"maxWidth": "100%"});

        
            var html_882903907a9c438e9bf6516bd6291b2f = $(`<div id="html_882903907a9c438e9bf6516bd6291b2f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 01:11:44<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 116.5 <strong>Referencia:</strong> 68 km al SO de Ollagüe</div>`)[0];
            popup_d87c613801804032bfde03dd912b1415.setContent(html_882903907a9c438e9bf6516bd6291b2f);
        

        marker_341774f75e444f9ba5a8bc650a085f7e.bindPopup(popup_d87c613801804032bfde03dd912b1415)
        ;

        
    
    
            var marker_5970c817a7744db5991d271f4e8df009 = L.marker(
                [-20.166, -69.149],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_e690958cb5bb415089e6f2ed70a7d003 = L.popup({"maxWidth": "100%"});

        
            var html_b1453b41feb643c5b11a08018ceea58a = $(`<div id="html_b1453b41feb643c5b11a08018ceea58a" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 23:13:40<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 96.5 <strong>Referencia:</strong> 41 km al NE de Pica</div>`)[0];
            popup_e690958cb5bb415089e6f2ed70a7d003.setContent(html_b1453b41feb643c5b11a08018ceea58a);
        

        marker_5970c817a7744db5991d271f4e8df009.bindPopup(popup_e690958cb5bb415089e6f2ed70a7d003)
        ;

        
    
    
            var marker_8be3ca1a964a4092b4fea754ecbcfbc0 = L.marker(
                [-21.387, -68.758],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_a622851548634743a3ebf57e7f9610f1 = L.popup({"maxWidth": "100%"});

        
            var html_7a439972cccc4a1aafefb54ceca6e240 = $(`<div id="html_7a439972cccc4a1aafefb54ceca6e240" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 22:50:59<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 119.5 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_a622851548634743a3ebf57e7f9610f1.setContent(html_7a439972cccc4a1aafefb54ceca6e240);
        

        marker_8be3ca1a964a4092b4fea754ecbcfbc0.bindPopup(popup_a622851548634743a3ebf57e7f9610f1)
        ;

        
    
    
            var marker_93bcfc95b2a3475b9f683e63017c13d9 = L.marker(
                [-19.817, -69.564],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_30a880fc63344dd6915301864bd512f4 = L.popup({"maxWidth": "100%"});

        
            var html_8e6efc5779634984b441972185d75a89 = $(`<div id="html_8e6efc5779634984b441972185d75a89" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 01:38:32<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 54 km al NE de Pozo Almonte</div>`)[0];
            popup_30a880fc63344dd6915301864bd512f4.setContent(html_8e6efc5779634984b441972185d75a89);
        

        marker_93bcfc95b2a3475b9f683e63017c13d9.bindPopup(popup_30a880fc63344dd6915301864bd512f4)
        ;

        
    
    
            var marker_7ba256743d934543be90d96896c7cc4e = L.marker(
                [-21.098, -68.863],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_0f31afe1719046f090782be2d1a78621 = L.popup({"maxWidth": "100%"});

        
            var html_3a78da64d0fb442992380f770d655b2e = $(`<div id="html_3a78da64d0fb442992380f770d655b2e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 19:57:18<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 109.1 <strong>Referencia:</strong> 37 km al SO de Mina Collahuasi</div>`)[0];
            popup_0f31afe1719046f090782be2d1a78621.setContent(html_3a78da64d0fb442992380f770d655b2e);
        

        marker_7ba256743d934543be90d96896c7cc4e.bindPopup(popup_0f31afe1719046f090782be2d1a78621)
        ;

        
    
    
            var marker_2b1fc69217494625b74cdaf344fb8123 = L.marker(
                [-20.827, -69.88],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_632c48a323e2436fbbe19da0f0b92f95 = L.popup({"maxWidth": "100%"});

        
            var html_87b77961317242c0b7c0dc0610849c5c = $(`<div id="html_87b77961317242c0b7c0dc0610849c5c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 12:29:30<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 59.9 <strong>Referencia:</strong> 64 km al S de Pozo Almonte</div>`)[0];
            popup_632c48a323e2436fbbe19da0f0b92f95.setContent(html_87b77961317242c0b7c0dc0610849c5c);
        

        marker_2b1fc69217494625b74cdaf344fb8123.bindPopup(popup_632c48a323e2436fbbe19da0f0b92f95)
        ;

        
    
    
            var marker_593ff30d557d4a16ad1a966abd9ab45a = L.marker(
                [-19.977, -68.974],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_bb4ecbeaed82470a981b6593d3a555ae = L.popup({"maxWidth": "100%"});

        
            var html_9ca3967d87114b78b4425be79120e543 = $(`<div id="html_9ca3967d87114b78b4425be79120e543" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 02:01:42<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 105.8 <strong>Referencia:</strong> 68 km al NE de Pica</div>`)[0];
            popup_bb4ecbeaed82470a981b6593d3a555ae.setContent(html_9ca3967d87114b78b4425be79120e543);
        

        marker_593ff30d557d4a16ad1a966abd9ab45a.bindPopup(popup_bb4ecbeaed82470a981b6593d3a555ae)
        ;

        
    
    
            var marker_58409998146c4f0ba04dfea3d19b9a65 = L.marker(
                [-20.111, -70.029],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_ffd415f5bbd64199b5d4a3c29b4f27af = L.popup({"maxWidth": "100%"});

        
            var html_1e271a762113455c9c015a43189870c5 = $(`<div id="html_1e271a762113455c9c015a43189870c5" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-31 17:37:02<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 76.6 <strong>Referencia:</strong> 17 km al NE de Iquique</div>`)[0];
            popup_ffd415f5bbd64199b5d4a3c29b4f27af.setContent(html_1e271a762113455c9c015a43189870c5);
        

        marker_58409998146c4f0ba04dfea3d19b9a65.bindPopup(popup_ffd415f5bbd64199b5d4a3c29b4f27af)
        ;

        
    
    
            var marker_5adff4c493364f739858bb94ba1bc0a6 = L.marker(
                [-20.117, -70.379],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_b4f154d9424d42498e0f6145ee7d0eb6 = L.popup({"maxWidth": "100%"});

        
            var html_470524dae62b40ce879c751b536d1653 = $(`<div id="html_470524dae62b40ce879c751b536d1653" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 20:27:25<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 26 km al NO de Iquique</div>`)[0];
            popup_b4f154d9424d42498e0f6145ee7d0eb6.setContent(html_470524dae62b40ce879c751b536d1653);
        

        marker_5adff4c493364f739858bb94ba1bc0a6.bindPopup(popup_b4f154d9424d42498e0f6145ee7d0eb6)
        ;

        
    
    
            var marker_91085c084f0f48dcabc2ae4bb4ba9c3c = L.marker(
                [-20.022, -69.142],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_8f21cfc7b3664d5eb503aa11964713b8);
        
    
        var popup_5b5828ee159447f3ac179cb9c095c3cf = L.popup({"maxWidth": "100%"});

        
            var html_65ad4da56fec45e5ba25b95b33b030f6 = $(`<div id="html_65ad4da56fec45e5ba25b95b33b030f6" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 19:03:27<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 95.0 <strong>Referencia:</strong> 56 km al N de Pica</div>`)[0];
            popup_5b5828ee159447f3ac179cb9c095c3cf.setContent(html_65ad4da56fec45e5ba25b95b33b030f6);
        

        marker_91085c084f0f48dcabc2ae4bb4ba9c3c.bindPopup(popup_5b5828ee159447f3ac179cb9c095c3cf)
        ;

        
    
    
            var marker_5cc57f6ade554c23b3f6dc5d01b80135 = L.marker(
                [-20.214066, -70.152465],
                {}
            ).addTo(map_53bed5b8aef44c5ba93f1101f10bf49d);
        
    
            var icon_5d66d9d36bfd42f6bbd060b81c4949fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5cc57f6ade554c23b3f6dc5d01b80135.setIcon(icon_5d66d9d36bfd42f6bbd060b81c4949fc);
        
    
        var popup_b2f65cfd8fec4d7e98a0afcd960867fe = L.popup({"maxWidth": "100%"});

        
            var html_e7f4b594fe654b3c8d9a332e7696afc7 = $(`<div id="html_e7f4b594fe654b3c8d9a332e7696afc7" style="width: 100.0%; height: 100.0%;"><i>Iquique</i></div>`)[0];
            popup_b2f65cfd8fec4d7e98a0afcd960867fe.setContent(html_e7f4b594fe654b3c8d9a332e7696afc7);
        

        marker_5cc57f6ade554c23b3f6dc5d01b80135.bindPopup(popup_b2f65cfd8fec4d7e98a0afcd960867fe)
        ;

        
    
</script>