<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d843ee06d2594524a41d533dbc0d87c1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_d843ee06d2594524a41d533dbc0d87c1" ></div>
        
</body>
<script>    
    
            var map_d843ee06d2594524a41d533dbc0d87c1 = L.map(
                "map_d843ee06d2594524a41d533dbc0d87c1",
                {
                    center: [-20.214066, -70.152465],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7edaf3003f3f4531834332c83389c6a0 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d843ee06d2594524a41d533dbc0d87c1);
        
    
            var marker_cluster_b03d8e982144462191e4446711bb8840 = L.markerClusterGroup(
                {}
            );
            map_d843ee06d2594524a41d533dbc0d87c1.addLayer(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
            var marker_b4438314e13341e08fdcf0410ba02391 = L.marker(
                [-21.158, -68.587],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_1197166d6fc440e7875b5c5e15d7a164 = L.popup({"maxWidth": "100%"});

        
            var html_0c37dcd25e48438f912598a5cef7eb5b = $(`<div id="html_0c37dcd25e48438f912598a5cef7eb5b" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-12 03:37:24<br><strong>magnitud:</strong> 3.7<br><strong>Profundidad:</strong> 143.6 <strong>Referencia:</strong> 38 km al S de Mina Collahuasi</div>`)[0];
            popup_1197166d6fc440e7875b5c5e15d7a164.setContent(html_0c37dcd25e48438f912598a5cef7eb5b);
        

        marker_b4438314e13341e08fdcf0410ba02391.bindPopup(popup_1197166d6fc440e7875b5c5e15d7a164)
        ;

        
    
    
            var marker_441085aa8fc6495c9321e4bec82819d3 = L.marker(
                [-19.558, -69.948],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_bb2ffe6bc00b4bf5b30253899ecb738c = L.popup({"maxWidth": "100%"});

        
            var html_abc5214b522f49cb9724dc99a5660814 = $(`<div id="html_abc5214b522f49cb9724dc99a5660814" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-12 02:07:00<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 20.3 <strong>Referencia:</strong> 28 km al E de Pisagua</div>`)[0];
            popup_bb2ffe6bc00b4bf5b30253899ecb738c.setContent(html_abc5214b522f49cb9724dc99a5660814);
        

        marker_441085aa8fc6495c9321e4bec82819d3.bindPopup(popup_bb2ffe6bc00b4bf5b30253899ecb738c)
        ;

        
    
    
            var marker_0fc3e01904df4c499832e34a26236160 = L.marker(
                [-20.804, -68.975],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_b72d5a5ffd71489dab0bdbb1558c98f2 = L.popup({"maxWidth": "100%"});

        
            var html_61572bf57d474518a1bcf8d164a05390 = $(`<div id="html_61572bf57d474518a1bcf8d164a05390" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-12 00:25:56<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 110.4 <strong>Referencia:</strong> 33 km al O de Mina Collahuasi</div>`)[0];
            popup_b72d5a5ffd71489dab0bdbb1558c98f2.setContent(html_61572bf57d474518a1bcf8d164a05390);
        

        marker_0fc3e01904df4c499832e34a26236160.bindPopup(popup_b72d5a5ffd71489dab0bdbb1558c98f2)
        ;

        
    
    
            var marker_9a4afc28169942efbde5057e5699bd3c = L.marker(
                [-21.356, -68.606],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_9ee6779bdfa044f086ee58b1b3c01434 = L.popup({"maxWidth": "100%"});

        
            var html_9c99fefecb704bb798159ec1ed346c96 = $(`<div id="html_9c99fefecb704bb798159ec1ed346c96" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 23:20:47<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 132.2 <strong>Referencia:</strong> 39 km al O de Ollagüe</div>`)[0];
            popup_9ee6779bdfa044f086ee58b1b3c01434.setContent(html_9c99fefecb704bb798159ec1ed346c96);
        

        marker_9a4afc28169942efbde5057e5699bd3c.bindPopup(popup_9ee6779bdfa044f086ee58b1b3c01434)
        ;

        
    
    
            var marker_fe1d2481e50a44c79b5aa0f184b19c15 = L.marker(
                [-20.665, -68.857],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_9c812c749b2f4013bfd345f11045aaff = L.popup({"maxWidth": "100%"});

        
            var html_e1e17d62820743648769fd3c0911e0de = $(`<div id="html_e1e17d62820743648769fd3c0911e0de" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 20:26:19<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 105.1 <strong>Referencia:</strong> 27 km al NO de Mina Collahuasi</div>`)[0];
            popup_9c812c749b2f4013bfd345f11045aaff.setContent(html_e1e17d62820743648769fd3c0911e0de);
        

        marker_fe1d2481e50a44c79b5aa0f184b19c15.bindPopup(popup_9c812c749b2f4013bfd345f11045aaff)
        ;

        
    
    
            var marker_5e0e3c2ddffd4bb085bbe146d99aed94 = L.marker(
                [-21.606, -68.523],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_0b6b1dcd1e3747bc96b2fc2768b6a75e = L.popup({"maxWidth": "100%"});

        
            var html_7bc31dce00d04790809f12064e3df687 = $(`<div id="html_7bc31dce00d04790809f12064e3df687" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 16:08:05<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 123.7 <strong>Referencia:</strong> 51 km al SO de Ollagüe</div>`)[0];
            popup_0b6b1dcd1e3747bc96b2fc2768b6a75e.setContent(html_7bc31dce00d04790809f12064e3df687);
        

        marker_5e0e3c2ddffd4bb085bbe146d99aed94.bindPopup(popup_0b6b1dcd1e3747bc96b2fc2768b6a75e)
        ;

        
    
    
            var marker_84eed5601f2f4138918ff38360ef3dbd = L.marker(
                [-20.986, -68.733],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_2c7632a917a749c89fb861a514633125 = L.popup({"maxWidth": "100%"});

        
            var html_9eb11a4c14cf424092ba2f24dc41ae1f = $(`<div id="html_9eb11a4c14cf424092ba2f24dc41ae1f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 13:12:57<br><strong>magnitud:</strong> 3.8<br><strong>Profundidad:</strong> 110.8 <strong>Referencia:</strong> 19 km al SO de Mina Collahuasi</div>`)[0];
            popup_2c7632a917a749c89fb861a514633125.setContent(html_9eb11a4c14cf424092ba2f24dc41ae1f);
        

        marker_84eed5601f2f4138918ff38360ef3dbd.bindPopup(popup_2c7632a917a749c89fb861a514633125)
        ;

        
    
    
            var marker_3bc9737aaea44994b908fd4ae44394fd = L.marker(
                [-20.659, -69.012],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_cbff775ca12c40158a8fddde3516d69f = L.popup({"maxWidth": "100%"});

        
            var html_e1bfe6e0b19e489fb7b7ec093adfbf64 = $(`<div id="html_e1bfe6e0b19e489fb7b7ec093adfbf64" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 10:48:38<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 98.3 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_cbff775ca12c40158a8fddde3516d69f.setContent(html_e1bfe6e0b19e489fb7b7ec093adfbf64);
        

        marker_3bc9737aaea44994b908fd4ae44394fd.bindPopup(popup_cbff775ca12c40158a8fddde3516d69f)
        ;

        
    
    
            var marker_d4e38d489f9642fcbdafbd417ce0805c = L.marker(
                [-21.276, -68.937],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_e59273a7014b4d01a1d96ad8ff2167fc = L.popup({"maxWidth": "100%"});

        
            var html_ebcc0cda2fa049958d52a9f3ca922b3b = $(`<div id="html_ebcc0cda2fa049958d52a9f3ca922b3b" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 04:09:18<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 107.9 <strong>Referencia:</strong> 58 km al SO de Mina Collahuasi</div>`)[0];
            popup_e59273a7014b4d01a1d96ad8ff2167fc.setContent(html_ebcc0cda2fa049958d52a9f3ca922b3b);
        

        marker_d4e38d489f9642fcbdafbd417ce0805c.bindPopup(popup_e59273a7014b4d01a1d96ad8ff2167fc)
        ;

        
    
    
            var marker_0c229d8a754f49b7a15fd758ed919930 = L.marker(
                [-21.156, -68.507],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_fdb36c2ea7314c89ae0a5b754f1e1494 = L.popup({"maxWidth": "100%"});

        
            var html_ebf21bfa3db843a49d97e6edefc991f7 = $(`<div id="html_ebf21bfa3db843a49d97e6edefc991f7" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 02:00:49<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 136.0 <strong>Referencia:</strong> 27 km al O de Ollagüe</div>`)[0];
            popup_fdb36c2ea7314c89ae0a5b754f1e1494.setContent(html_ebf21bfa3db843a49d97e6edefc991f7);
        

        marker_0c229d8a754f49b7a15fd758ed919930.bindPopup(popup_fdb36c2ea7314c89ae0a5b754f1e1494)
        ;

        
    
    
            var marker_8c0a61cf74244d8f959c594d22772c6a = L.marker(
                [-20.985, -68.729],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_b87aadb58bde4a23acdf1efb1eb00182 = L.popup({"maxWidth": "100%"});

        
            var html_b1fb006c89a4418f9c27dba8763f39f6 = $(`<div id="html_b1fb006c89a4418f9c27dba8763f39f6" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 13:12:56<br><strong>magnitud:</strong> 3.7<br><strong>Profundidad:</strong> 104.9 <strong>Referencia:</strong> 19 km al SO de Mina Collahuasi</div>`)[0];
            popup_b87aadb58bde4a23acdf1efb1eb00182.setContent(html_b1fb006c89a4418f9c27dba8763f39f6);
        

        marker_8c0a61cf74244d8f959c594d22772c6a.bindPopup(popup_b87aadb58bde4a23acdf1efb1eb00182)
        ;

        
    
    
            var marker_e986e1215fec473e9929970ad2c2cccd = L.marker(
                [-20.447, -68.956],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_614235d068f7440d88b0e14f3b080b97 = L.popup({"maxWidth": "100%"});

        
            var html_ab22444336fd49b890831603f8b29845 = $(`<div id="html_ab22444336fd49b890831603f8b29845" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 23:09:11<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 96.4 <strong>Referencia:</strong> 39 km al E de Pica</div>`)[0];
            popup_614235d068f7440d88b0e14f3b080b97.setContent(html_ab22444336fd49b890831603f8b29845);
        

        marker_e986e1215fec473e9929970ad2c2cccd.bindPopup(popup_614235d068f7440d88b0e14f3b080b97)
        ;

        
    
    
            var marker_bccb1271750d45469497c1e91126a30d = L.marker(
                [-21.108, -68.97],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_4fb22c473e824fc09ecfbc2ce0489bc0 = L.popup({"maxWidth": "100%"});

        
            var html_4b4b16990df946dc84b595ed3c455dd8 = $(`<div id="html_4b4b16990df946dc84b595ed3c455dd8" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 17:46:13<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 103.0 <strong>Referencia:</strong> 45 km al SO de Mina Collahuasi</div>`)[0];
            popup_4fb22c473e824fc09ecfbc2ce0489bc0.setContent(html_4b4b16990df946dc84b595ed3c455dd8);
        

        marker_bccb1271750d45469497c1e91126a30d.bindPopup(popup_4fb22c473e824fc09ecfbc2ce0489bc0)
        ;

        
    
    
            var marker_f31ee1e64b1a4bb2b8cc531499234396 = L.marker(
                [-20.843, -69.083],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_776bde71489c48c8b53c860bf9d0a293 = L.popup({"maxWidth": "100%"});

        
            var html_97b29a569b16452281bc5e57d3821cd1 = $(`<div id="html_97b29a569b16452281bc5e57d3821cd1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 13:30:50<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 109.5 <strong>Referencia:</strong> 44 km al O de Mina Collahuasi</div>`)[0];
            popup_776bde71489c48c8b53c860bf9d0a293.setContent(html_97b29a569b16452281bc5e57d3821cd1);
        

        marker_f31ee1e64b1a4bb2b8cc531499234396.bindPopup(popup_776bde71489c48c8b53c860bf9d0a293)
        ;

        
    
    
            var marker_3ecc95425f1e4565bace4a8984ed01bc = L.marker(
                [-21.195, -68.512],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_c8b92d3a1d444868804028e7aed407e2 = L.popup({"maxWidth": "100%"});

        
            var html_085a1c9c5cee4157a646e484bd38f7ee = $(`<div id="html_085a1c9c5cee4157a646e484bd38f7ee" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 13:08:33<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 134.0 <strong>Referencia:</strong> 27 km al O de Ollagüe</div>`)[0];
            popup_c8b92d3a1d444868804028e7aed407e2.setContent(html_085a1c9c5cee4157a646e484bd38f7ee);
        

        marker_3ecc95425f1e4565bace4a8984ed01bc.bindPopup(popup_c8b92d3a1d444868804028e7aed407e2)
        ;

        
    
    
            var marker_b01b4b0f45014af4ac60be56591eb343 = L.marker(
                [-21.229, -68.923],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_3e068178873945b8b76ec1348fe3290d = L.popup({"maxWidth": "100%"});

        
            var html_17bd44497f95474496da36bc251f2774 = $(`<div id="html_17bd44497f95474496da36bc251f2774" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 03:16:08<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 117.5 <strong>Referencia:</strong> 53 km al SO de Mina Collahuasi</div>`)[0];
            popup_3e068178873945b8b76ec1348fe3290d.setContent(html_17bd44497f95474496da36bc251f2774);
        

        marker_b01b4b0f45014af4ac60be56591eb343.bindPopup(popup_3e068178873945b8b76ec1348fe3290d)
        ;

        
    
    
            var marker_c8ea3c6a247048edbe0be7fa06b5e47c = L.marker(
                [-19.982, -69.139],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_459d4fb3de044daa88a4f44f7a084328 = L.popup({"maxWidth": "100%"});

        
            var html_b10c3024c374457da7c7fad3f5315c46 = $(`<div id="html_b10c3024c374457da7c7fad3f5315c46" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 01:05:38<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 95.5 <strong>Referencia:</strong> 60 km al N de Pica</div>`)[0];
            popup_459d4fb3de044daa88a4f44f7a084328.setContent(html_b10c3024c374457da7c7fad3f5315c46);
        

        marker_c8ea3c6a247048edbe0be7fa06b5e47c.bindPopup(popup_459d4fb3de044daa88a4f44f7a084328)
        ;

        
    
    
            var marker_28d6aa82d80d4e699ce1b8846064d897 = L.marker(
                [-19.962, -71.031],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_1b435afe4f924b58a4f2044267dc3369 = L.popup({"maxWidth": "100%"});

        
            var html_9e2040fa49af490a9e659c6179c1d176 = $(`<div id="html_9e2040fa49af490a9e659c6179c1d176" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 22:30:16<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 95 km al SO de Pisagua</div>`)[0];
            popup_1b435afe4f924b58a4f2044267dc3369.setContent(html_9e2040fa49af490a9e659c6179c1d176);
        

        marker_28d6aa82d80d4e699ce1b8846064d897.bindPopup(popup_1b435afe4f924b58a4f2044267dc3369)
        ;

        
    
    
            var marker_0aeb71b7fc1e4c76907ebff2b7f64363 = L.marker(
                [-19.904, -69.885],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_b140484315a8413b9a87e11470c7ee9e = L.popup({"maxWidth": "100%"});

        
            var html_aeaa681e741a49948dc0cfb7815e6d70 = $(`<div id="html_aeaa681e741a49948dc0cfb7815e6d70" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 17:10:58<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 53.2 <strong>Referencia:</strong> 41 km al N de Pozo Almonte</div>`)[0];
            popup_b140484315a8413b9a87e11470c7ee9e.setContent(html_aeaa681e741a49948dc0cfb7815e6d70);
        

        marker_0aeb71b7fc1e4c76907ebff2b7f64363.bindPopup(popup_b140484315a8413b9a87e11470c7ee9e)
        ;

        
    
    
            var marker_af9c8c40349e448787822ea95be3a5d2 = L.marker(
                [-21.38, -68.762],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_ef1728fd889d426098adc81be69288a4 = L.popup({"maxWidth": "100%"});

        
            var html_fc84e6fa2bf54a80a2b0e6dfd0ac8ed2 = $(`<div id="html_fc84e6fa2bf54a80a2b0e6dfd0ac8ed2" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 04:25:18<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 117.3 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_ef1728fd889d426098adc81be69288a4.setContent(html_fc84e6fa2bf54a80a2b0e6dfd0ac8ed2);
        

        marker_af9c8c40349e448787822ea95be3a5d2.bindPopup(popup_ef1728fd889d426098adc81be69288a4)
        ;

        
    
    
            var marker_808dd56f0a9542a0a617d47d5d3d4f6e = L.marker(
                [-20.289, -69.304],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_90ef46625a7c4c1788957ffc93361c00 = L.popup({"maxWidth": "100%"});

        
            var html_17b06ff5c9af44be815639bd36dcffdf = $(`<div id="html_17b06ff5c9af44be815639bd36dcffdf" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 18:05:13<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 89.6 <strong>Referencia:</strong> 23 km al N de Pica</div>`)[0];
            popup_90ef46625a7c4c1788957ffc93361c00.setContent(html_17b06ff5c9af44be815639bd36dcffdf);
        

        marker_808dd56f0a9542a0a617d47d5d3d4f6e.bindPopup(popup_90ef46625a7c4c1788957ffc93361c00)
        ;

        
    
    
            var marker_3276d45e79e848f08135b3fc5d7e1c07 = L.marker(
                [-21.033, -68.982],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_7ca6272730f7426cb8d2e7c3d105571e = L.popup({"maxWidth": "100%"});

        
            var html_f031cbb7870c41efac15f667b6abd057 = $(`<div id="html_f031cbb7870c41efac15f667b6abd057" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 16:26:58<br><strong>magnitud:</strong> 3.2<br><strong>Profundidad:</strong> 110.3 <strong>Referencia:</strong> 41 km al SO de Mina Collahuasi</div>`)[0];
            popup_7ca6272730f7426cb8d2e7c3d105571e.setContent(html_f031cbb7870c41efac15f667b6abd057);
        

        marker_3276d45e79e848f08135b3fc5d7e1c07.bindPopup(popup_7ca6272730f7426cb8d2e7c3d105571e)
        ;

        
    
    
            var marker_a025827c9ad24f1694214756381b2fdc = L.marker(
                [-21.411, -69.623],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_e873d3e800e84017befc7d11677ba7e4 = L.popup({"maxWidth": "100%"});

        
            var html_86b358f603dd4fdca2f5a1b1b2d16aa1 = $(`<div id="html_86b358f603dd4fdca2f5a1b1b2d16aa1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 15:48:21<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 67.0 <strong>Referencia:</strong> 29 km al N de Quillagua</div>`)[0];
            popup_e873d3e800e84017befc7d11677ba7e4.setContent(html_86b358f603dd4fdca2f5a1b1b2d16aa1);
        

        marker_a025827c9ad24f1694214756381b2fdc.bindPopup(popup_e873d3e800e84017befc7d11677ba7e4)
        ;

        
    
    
            var marker_a116ff87ac38458197b3644883dcc999 = L.marker(
                [-19.759, -69.13],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_f1f44a81385f40999f0497fa72a4a9a6 = L.popup({"maxWidth": "100%"});

        
            var html_17f398e99e78424cb30c1a4399bf95af = $(`<div id="html_17f398e99e78424cb30c1a4399bf95af" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-07 21:26:15<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 99.6 <strong>Referencia:</strong> 59 km al SE de Camiña</div>`)[0];
            popup_f1f44a81385f40999f0497fa72a4a9a6.setContent(html_17f398e99e78424cb30c1a4399bf95af);
        

        marker_a116ff87ac38458197b3644883dcc999.bindPopup(popup_f1f44a81385f40999f0497fa72a4a9a6)
        ;

        
    
    
            var marker_9d6271e04e75409bb7903d0778f206ea = L.marker(
                [-21.077, -68.96],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_a90875e49d7846e3a214b404eea094d9 = L.popup({"maxWidth": "100%"});

        
            var html_744d9639116a4cedad8fe7197bcd3e5e = $(`<div id="html_744d9639116a4cedad8fe7197bcd3e5e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 21:27:51<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 110.0 <strong>Referencia:</strong> 42 km al SO de Mina Collahuasi</div>`)[0];
            popup_a90875e49d7846e3a214b404eea094d9.setContent(html_744d9639116a4cedad8fe7197bcd3e5e);
        

        marker_9d6271e04e75409bb7903d0778f206ea.bindPopup(popup_a90875e49d7846e3a214b404eea094d9)
        ;

        
    
    
            var marker_e417bc5afa9043c3b3bfcbd47c343d3d = L.marker(
                [-21.214, -70.385],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_ec7c0ddd0d6f4bcdb3249bc9a30e0899 = L.popup({"maxWidth": "100%"});

        
            var html_4682d24c21374c46b55354907561494f = $(`<div id="html_4682d24c21374c46b55354907561494f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 06:23:44<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 26.5 <strong>Referencia:</strong> 100 km al N de Tocopilla</div>`)[0];
            popup_ec7c0ddd0d6f4bcdb3249bc9a30e0899.setContent(html_4682d24c21374c46b55354907561494f);
        

        marker_e417bc5afa9043c3b3bfcbd47c343d3d.bindPopup(popup_ec7c0ddd0d6f4bcdb3249bc9a30e0899)
        ;

        
    
    
            var marker_bf1952b2163a4bc1b8aee437d1608244 = L.marker(
                [-21.48, -68.428],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_46d0bd95d17d40e890bfe949291f8784 = L.popup({"maxWidth": "100%"});

        
            var html_ba09d539545e45c2981e44942aa24b47 = $(`<div id="html_ba09d539545e45c2981e44942aa24b47" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 05:35:12<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 135.3 <strong>Referencia:</strong> 34 km al SO de Ollagüe</div>`)[0];
            popup_46d0bd95d17d40e890bfe949291f8784.setContent(html_ba09d539545e45c2981e44942aa24b47);
        

        marker_bf1952b2163a4bc1b8aee437d1608244.bindPopup(popup_46d0bd95d17d40e890bfe949291f8784)
        ;

        
    
    
            var marker_0e4b4bce50a14b4395a353218f83fca2 = L.marker(
                [-20.158, -70.006],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_1dd1631c13f847e389bfce09f8edba0b = L.popup({"maxWidth": "100%"});

        
            var html_c0705ab711e24bc9907fcd58735bbc93 = $(`<div id="html_c0705ab711e24bc9907fcd58735bbc93" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 01:54:51<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 50.5 <strong>Referencia:</strong> 16 km al NE de Alto Hospicio</div>`)[0];
            popup_1dd1631c13f847e389bfce09f8edba0b.setContent(html_c0705ab711e24bc9907fcd58735bbc93);
        

        marker_0e4b4bce50a14b4395a353218f83fca2.bindPopup(popup_1dd1631c13f847e389bfce09f8edba0b)
        ;

        
    
    
            var marker_8498e7ef65f64cbd8afccd5adad9e59a = L.marker(
                [-20.794, -69.159],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_16f8398183ea4dd38e53d8a6847d4415 = L.popup({"maxWidth": "100%"});

        
            var html_37e04afeda17471ca872ff586b4b65e8 = $(`<div id="html_37e04afeda17471ca872ff586b4b65e8" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 19:28:21<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 96.1 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_16f8398183ea4dd38e53d8a6847d4415.setContent(html_37e04afeda17471ca872ff586b4b65e8);
        

        marker_8498e7ef65f64cbd8afccd5adad9e59a.bindPopup(popup_16f8398183ea4dd38e53d8a6847d4415)
        ;

        
    
    
            var marker_d79d432bd7704cafb7570e4909d0e22a = L.marker(
                [-21.297, -69.7],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_4a2b7513eff946b3848dab3bff8291d8 = L.popup({"maxWidth": "100%"});

        
            var html_360e71693a1d4c7088f9bd8b7adc4a6f = $(`<div id="html_360e71693a1d4c7088f9bd8b7adc4a6f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 14:51:59<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 47.5 <strong>Referencia:</strong> 44 km al NO de Quillagua</div>`)[0];
            popup_4a2b7513eff946b3848dab3bff8291d8.setContent(html_360e71693a1d4c7088f9bd8b7adc4a6f);
        

        marker_d79d432bd7704cafb7570e4909d0e22a.bindPopup(popup_4a2b7513eff946b3848dab3bff8291d8)
        ;

        
    
    
            var marker_1db4c31529304a8d908670718f315a79 = L.marker(
                [-20.438, -69.067],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_c8d97e5cd5ec4d65a4add953af7e9dce = L.popup({"maxWidth": "100%"});

        
            var html_ed2c7d041699402ca13537683c2e0641 = $(`<div id="html_ed2c7d041699402ca13537683c2e0641" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 02:10:15<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 28 km al E de Pica</div>`)[0];
            popup_c8d97e5cd5ec4d65a4add953af7e9dce.setContent(html_ed2c7d041699402ca13537683c2e0641);
        

        marker_1db4c31529304a8d908670718f315a79.bindPopup(popup_c8d97e5cd5ec4d65a4add953af7e9dce)
        ;

        
    
    
            var marker_ad0876e05908450fbdfc94c43b42b894 = L.marker(
                [-21.113, -68.685],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_e5962989c8114e00b1f33d753c8fed1a = L.popup({"maxWidth": "100%"});

        
            var html_bd8af2c12e35417789520c4f84a893df = $(`<div id="html_bd8af2c12e35417789520c4f84a893df" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 23:17:26<br><strong>magnitud:</strong> 3.9<br><strong>Profundidad:</strong> 124.0 <strong>Referencia:</strong> 32 km al S de Mina Collahuasi</div>`)[0];
            popup_e5962989c8114e00b1f33d753c8fed1a.setContent(html_bd8af2c12e35417789520c4f84a893df);
        

        marker_ad0876e05908450fbdfc94c43b42b894.bindPopup(popup_e5962989c8114e00b1f33d753c8fed1a)
        ;

        
    
    
            var marker_684de2aead324edda435cb93fea89f15 = L.marker(
                [-21.097, -68.915],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_14797f30edd6475a8d59cabaaf6b791f = L.popup({"maxWidth": "100%"});

        
            var html_7d3a768a6b034361aedad59d2e344894 = $(`<div id="html_7d3a768a6b034361aedad59d2e344894" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 22:54:15<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 108.6 <strong>Referencia:</strong> 40 km al SO de Mina Collahuasi</div>`)[0];
            popup_14797f30edd6475a8d59cabaaf6b791f.setContent(html_7d3a768a6b034361aedad59d2e344894);
        

        marker_684de2aead324edda435cb93fea89f15.bindPopup(popup_14797f30edd6475a8d59cabaaf6b791f)
        ;

        
    
    
            var marker_bea5a99a1ae847de8c4e3be9383e3010 = L.marker(
                [-19.498, -69.988],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_ed9bcc663c574d5da42bd031fc1ee3b8 = L.popup({"maxWidth": "100%"});

        
            var html_639da1471c0a4f62b8d48db1e2cfa15f = $(`<div id="html_639da1471c0a4f62b8d48db1e2cfa15f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:41<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 83.0 <strong>Referencia:</strong> 26 km al NE de Pisagua</div>`)[0];
            popup_ed9bcc663c574d5da42bd031fc1ee3b8.setContent(html_639da1471c0a4f62b8d48db1e2cfa15f);
        

        marker_bea5a99a1ae847de8c4e3be9383e3010.bindPopup(popup_ed9bcc663c574d5da42bd031fc1ee3b8)
        ;

        
    
    
            var marker_85003cefa0b54f869f308f999f43e1be = L.marker(
                [-21.412, -68.779],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_35a6ee576e154ecd99d4898c3a1ac4b5 = L.popup({"maxWidth": "100%"});

        
            var html_e02cbe639d2b4750919c840632dd003b = $(`<div id="html_e02cbe639d2b4750919c840632dd003b" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 05:02:16<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 103.6 <strong>Referencia:</strong> 58 km al O de Ollagüe</div>`)[0];
            popup_35a6ee576e154ecd99d4898c3a1ac4b5.setContent(html_e02cbe639d2b4750919c840632dd003b);
        

        marker_85003cefa0b54f869f308f999f43e1be.bindPopup(popup_35a6ee576e154ecd99d4898c3a1ac4b5)
        ;

        
    
    
            var marker_eaef641fd6ec442993c4936552054d12 = L.marker(
                [-21.318, -69.933],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_67f3e59810ae4ff593f8588ae2e502c5 = L.popup({"maxWidth": "100%"});

        
            var html_314118323ca14e0ba9896a8aee5b90db = $(`<div id="html_314118323ca14e0ba9896a8aee5b90db" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 02:52:57<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 47.0 <strong>Referencia:</strong> 56 km al NO de Quillagua</div>`)[0];
            popup_67f3e59810ae4ff593f8588ae2e502c5.setContent(html_314118323ca14e0ba9896a8aee5b90db);
        

        marker_eaef641fd6ec442993c4936552054d12.bindPopup(popup_67f3e59810ae4ff593f8588ae2e502c5)
        ;

        
    
    
            var marker_55443998116641beb0623b326b0c4f26 = L.marker(
                [-20.601, -68.982],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_81dac6e4e6e2407a82daf8d01442bf3f = L.popup({"maxWidth": "100%"});

        
            var html_6f7ee58764954749b7520bb7d2f73839 = $(`<div id="html_6f7ee58764954749b7520bb7d2f73839" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 17:45:25<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 105.2 <strong>Referencia:</strong> 38 km al E de Pica</div>`)[0];
            popup_81dac6e4e6e2407a82daf8d01442bf3f.setContent(html_6f7ee58764954749b7520bb7d2f73839);
        

        marker_55443998116641beb0623b326b0c4f26.bindPopup(popup_81dac6e4e6e2407a82daf8d01442bf3f)
        ;

        
    
    
            var marker_2e4cf9882e19405c88d8b6c1c2a7f3b1 = L.marker(
                [-21.572, -68.62],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_1e6763f87da74249a5697ba595b7ec49 = L.popup({"maxWidth": "100%"});

        
            var html_5fa0584271b443bc847e6a55b04c3efd = $(`<div id="html_5fa0584271b443bc847e6a55b04c3efd" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:50:50<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 125.0 <strong>Referencia:</strong> 54 km al SO de Ollagüe</div>`)[0];
            popup_1e6763f87da74249a5697ba595b7ec49.setContent(html_5fa0584271b443bc847e6a55b04c3efd);
        

        marker_2e4cf9882e19405c88d8b6c1c2a7f3b1.bindPopup(popup_1e6763f87da74249a5697ba595b7ec49)
        ;

        
    
    
            var marker_3b98b43f3f944f9aa165b7cf809bddba = L.marker(
                [-19.497, -69.904],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_d597a34d3daf4659916ca554c70b3104 = L.popup({"maxWidth": "100%"});

        
            var html_caf0a9467aef45c5901c260a459f32b7 = $(`<div id="html_caf0a9467aef45c5901c260a459f32b7" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:42<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 44.7 <strong>Referencia:</strong> 34 km al E de Pisagua</div>`)[0];
            popup_d597a34d3daf4659916ca554c70b3104.setContent(html_caf0a9467aef45c5901c260a459f32b7);
        

        marker_3b98b43f3f944f9aa165b7cf809bddba.bindPopup(popup_d597a34d3daf4659916ca554c70b3104)
        ;

        
    
    
            var marker_38e2e8aea4f34bfbb77bd1d7ad75e063 = L.marker(
                [-21.347, -68.734],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_39df7d41a4c14793978694684c31e969 = L.popup({"maxWidth": "100%"});

        
            var html_bb15127129ae4876a0e4e788eb992a14 = $(`<div id="html_bb15127129ae4876a0e4e788eb992a14" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:12:19<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 115.3 <strong>Referencia:</strong> 52 km al O de Ollagüe</div>`)[0];
            popup_39df7d41a4c14793978694684c31e969.setContent(html_bb15127129ae4876a0e4e788eb992a14);
        

        marker_38e2e8aea4f34bfbb77bd1d7ad75e063.bindPopup(popup_39df7d41a4c14793978694684c31e969)
        ;

        
    
    
            var marker_03b330440c1c4bfe9a73b076bf5bb643 = L.marker(
                [-21.103, -68.471],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_574fdd21ff584e1e90128705c90f5867 = L.popup({"maxWidth": "100%"});

        
            var html_feb2ed68a5c243459c6aff35ccf84fc9 = $(`<div id="html_feb2ed68a5c243459c6aff35ccf84fc9" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 03:58:26<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 130.4 <strong>Referencia:</strong> 26 km al NO de Ollagüe</div>`)[0];
            popup_574fdd21ff584e1e90128705c90f5867.setContent(html_feb2ed68a5c243459c6aff35ccf84fc9);
        

        marker_03b330440c1c4bfe9a73b076bf5bb643.bindPopup(popup_574fdd21ff584e1e90128705c90f5867)
        ;

        
    
    
            var marker_e8b5f83304cd4e7aa641cb6ddffa3725 = L.marker(
                [-21.512, -68.832],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_462803f7c31f40f687b62d1817368352 = L.popup({"maxWidth": "100%"});

        
            var html_38885aa0e025419a82f75f0acd852557 = $(`<div id="html_38885aa0e025419a82f75f0acd852557" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 01:11:44<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 116.5 <strong>Referencia:</strong> 68 km al SO de Ollagüe</div>`)[0];
            popup_462803f7c31f40f687b62d1817368352.setContent(html_38885aa0e025419a82f75f0acd852557);
        

        marker_e8b5f83304cd4e7aa641cb6ddffa3725.bindPopup(popup_462803f7c31f40f687b62d1817368352)
        ;

        
    
    
            var marker_9b5bcf1f577d44b29c798977b07a0ef3 = L.marker(
                [-20.166, -69.149],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_0dc325f3627a4095b207cd650f220dcc = L.popup({"maxWidth": "100%"});

        
            var html_609ff783046a46ad8952d35f41bcd27c = $(`<div id="html_609ff783046a46ad8952d35f41bcd27c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 23:13:40<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 96.5 <strong>Referencia:</strong> 41 km al NE de Pica</div>`)[0];
            popup_0dc325f3627a4095b207cd650f220dcc.setContent(html_609ff783046a46ad8952d35f41bcd27c);
        

        marker_9b5bcf1f577d44b29c798977b07a0ef3.bindPopup(popup_0dc325f3627a4095b207cd650f220dcc)
        ;

        
    
    
            var marker_4cf37d920f6d4cfc800635c5a4912ae1 = L.marker(
                [-21.387, -68.758],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_e0c8b541dd494d3388d728c0f1561ea3 = L.popup({"maxWidth": "100%"});

        
            var html_26750d606b854bb1a1585722d8cb8357 = $(`<div id="html_26750d606b854bb1a1585722d8cb8357" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 22:50:59<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 119.5 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_e0c8b541dd494d3388d728c0f1561ea3.setContent(html_26750d606b854bb1a1585722d8cb8357);
        

        marker_4cf37d920f6d4cfc800635c5a4912ae1.bindPopup(popup_e0c8b541dd494d3388d728c0f1561ea3)
        ;

        
    
    
            var marker_cb4e56c13ad5423695cb8838692915f4 = L.marker(
                [-19.817, -69.564],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_8621f3a736e44563bdc0399f09ab3ae3 = L.popup({"maxWidth": "100%"});

        
            var html_d613506ff79d4156b4f7e3f21aae2064 = $(`<div id="html_d613506ff79d4156b4f7e3f21aae2064" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 01:38:32<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 54 km al NE de Pozo Almonte</div>`)[0];
            popup_8621f3a736e44563bdc0399f09ab3ae3.setContent(html_d613506ff79d4156b4f7e3f21aae2064);
        

        marker_cb4e56c13ad5423695cb8838692915f4.bindPopup(popup_8621f3a736e44563bdc0399f09ab3ae3)
        ;

        
    
    
            var marker_c903299b90894d26b0fda86f10c92b1f = L.marker(
                [-21.098, -68.863],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_2bec4b1f426e4d10a89457c7aefb6708 = L.popup({"maxWidth": "100%"});

        
            var html_739accb4e818463496f526b2976d3a88 = $(`<div id="html_739accb4e818463496f526b2976d3a88" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 19:57:18<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 109.1 <strong>Referencia:</strong> 37 km al SO de Mina Collahuasi</div>`)[0];
            popup_2bec4b1f426e4d10a89457c7aefb6708.setContent(html_739accb4e818463496f526b2976d3a88);
        

        marker_c903299b90894d26b0fda86f10c92b1f.bindPopup(popup_2bec4b1f426e4d10a89457c7aefb6708)
        ;

        
    
    
            var marker_ee488c3289f74766921aac80cc0068fb = L.marker(
                [-20.827, -69.88],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_68e3173db60d4a55bb4286c8f33de73f = L.popup({"maxWidth": "100%"});

        
            var html_f8664748828341c587bfbe0e018725d4 = $(`<div id="html_f8664748828341c587bfbe0e018725d4" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 12:29:30<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 59.9 <strong>Referencia:</strong> 64 km al S de Pozo Almonte</div>`)[0];
            popup_68e3173db60d4a55bb4286c8f33de73f.setContent(html_f8664748828341c587bfbe0e018725d4);
        

        marker_ee488c3289f74766921aac80cc0068fb.bindPopup(popup_68e3173db60d4a55bb4286c8f33de73f)
        ;

        
    
    
            var marker_e4e48b86d1b24fb3913198ff4ef1e43d = L.marker(
                [-19.977, -68.974],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_b90bdcb1b3494db59b13076c3a6372f9 = L.popup({"maxWidth": "100%"});

        
            var html_e22cd84b7cdf47dcbf3b63718b01905e = $(`<div id="html_e22cd84b7cdf47dcbf3b63718b01905e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 02:01:42<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 105.8 <strong>Referencia:</strong> 68 km al NE de Pica</div>`)[0];
            popup_b90bdcb1b3494db59b13076c3a6372f9.setContent(html_e22cd84b7cdf47dcbf3b63718b01905e);
        

        marker_e4e48b86d1b24fb3913198ff4ef1e43d.bindPopup(popup_b90bdcb1b3494db59b13076c3a6372f9)
        ;

        
    
    
            var marker_49fd4853971b4b29805ed8d80dbfc57b = L.marker(
                [-20.111, -70.029],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_42426d07a76a4ec38ee83b7c56f316fe = L.popup({"maxWidth": "100%"});

        
            var html_c524e38f929944538dcf51c3da5a92b0 = $(`<div id="html_c524e38f929944538dcf51c3da5a92b0" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-31 17:37:02<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 76.6 <strong>Referencia:</strong> 17 km al NE de Iquique</div>`)[0];
            popup_42426d07a76a4ec38ee83b7c56f316fe.setContent(html_c524e38f929944538dcf51c3da5a92b0);
        

        marker_49fd4853971b4b29805ed8d80dbfc57b.bindPopup(popup_42426d07a76a4ec38ee83b7c56f316fe)
        ;

        
    
    
            var marker_24be1df79fc9442e9f733480ea27e5db = L.marker(
                [-20.117, -70.379],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_b9944f792afc4183ab84c6494c71acbe = L.popup({"maxWidth": "100%"});

        
            var html_9506e582f8804e8cbff7c4418907c108 = $(`<div id="html_9506e582f8804e8cbff7c4418907c108" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 20:27:25<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 26 km al NO de Iquique</div>`)[0];
            popup_b9944f792afc4183ab84c6494c71acbe.setContent(html_9506e582f8804e8cbff7c4418907c108);
        

        marker_24be1df79fc9442e9f733480ea27e5db.bindPopup(popup_b9944f792afc4183ab84c6494c71acbe)
        ;

        
    
    
            var marker_77e39ca5ca5b465b9f7816174647261a = L.marker(
                [-20.022, -69.142],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_b03d8e982144462191e4446711bb8840);
        
    
        var popup_9ee6fde913794818ae7d341867b621f0 = L.popup({"maxWidth": "100%"});

        
            var html_7458112d91e646a58549d0d7963f3662 = $(`<div id="html_7458112d91e646a58549d0d7963f3662" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 19:03:27<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 95.0 <strong>Referencia:</strong> 56 km al N de Pica</div>`)[0];
            popup_9ee6fde913794818ae7d341867b621f0.setContent(html_7458112d91e646a58549d0d7963f3662);
        

        marker_77e39ca5ca5b465b9f7816174647261a.bindPopup(popup_9ee6fde913794818ae7d341867b621f0)
        ;

        
    
    
            var marker_2bd78eb1ec0341088e4f31fb0d8e6e52 = L.marker(
                [-20.214066, -70.152465],
                {}
            ).addTo(map_d843ee06d2594524a41d533dbc0d87c1);
        
    
            var icon_96ae1b4d8208496690f422f3244aed14 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2bd78eb1ec0341088e4f31fb0d8e6e52.setIcon(icon_96ae1b4d8208496690f422f3244aed14);
        
    
        var popup_12705fc1411c46d68f213289e80c7b9a = L.popup({"maxWidth": "100%"});

        
            var html_568e9483ac3946d080e80f9d8638f15d = $(`<div id="html_568e9483ac3946d080e80f9d8638f15d" style="width: 100.0%; height: 100.0%;"><i>Iquique</i></div>`)[0];
            popup_12705fc1411c46d68f213289e80c7b9a.setContent(html_568e9483ac3946d080e80f9d8638f15d);
        

        marker_2bd78eb1ec0341088e4f31fb0d8e6e52.bindPopup(popup_12705fc1411c46d68f213289e80c7b9a)
        ;

        
    
</script>