<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5b2f848d0a5f4b5b87861deb42225fb7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_5b2f848d0a5f4b5b87861deb42225fb7" ></div>
        
</body>
<script>    
    
            var map_5b2f848d0a5f4b5b87861deb42225fb7 = L.map(
                "map_5b2f848d0a5f4b5b87861deb42225fb7",
                {
                    center: [-20.214066, -70.152465],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c91632465e314f79933c310a49564438 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5b2f848d0a5f4b5b87861deb42225fb7);
        
    
            var marker_cluster_c219203efddc477dba5c81e1e4c10980 = L.markerClusterGroup(
                {}
            );
            map_5b2f848d0a5f4b5b87861deb42225fb7.addLayer(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
            var marker_2c4e069cfdf6436e9de72b6147dd8d6e = L.marker(
                [-21.214, -70.385],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_910d2e922f7447f68523252d7e81ea63 = L.popup({"maxWidth": "100%"});

        
            var html_9105c1cd7ad04f59bc44dccdfdac7e31 = $(`<div id="html_9105c1cd7ad04f59bc44dccdfdac7e31" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 06:23:44<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 26.5 <strong>Referencia:</strong> 100 km al N de Tocopilla</div>`)[0];
            popup_910d2e922f7447f68523252d7e81ea63.setContent(html_9105c1cd7ad04f59bc44dccdfdac7e31);
        

        marker_2c4e069cfdf6436e9de72b6147dd8d6e.bindPopup(popup_910d2e922f7447f68523252d7e81ea63)
        ;

        
    
    
            var marker_d04b687126f94371a7e44276d721d207 = L.marker(
                [-21.48, -68.428],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_834e34067de4422db4d43c096ccc8ea9 = L.popup({"maxWidth": "100%"});

        
            var html_a50cca8080ea4b50ab7a621e7366b4ef = $(`<div id="html_a50cca8080ea4b50ab7a621e7366b4ef" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 05:35:12<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 135.3 <strong>Referencia:</strong> 34 km al SO de Ollagüe</div>`)[0];
            popup_834e34067de4422db4d43c096ccc8ea9.setContent(html_a50cca8080ea4b50ab7a621e7366b4ef);
        

        marker_d04b687126f94371a7e44276d721d207.bindPopup(popup_834e34067de4422db4d43c096ccc8ea9)
        ;

        
    
    
            var marker_25aff528171048d3af2ef79c1f9c4ca3 = L.marker(
                [-20.158, -70.006],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_c50712164aad406b80ead6d44348adb3 = L.popup({"maxWidth": "100%"});

        
            var html_f257e6ff5b60435596617591bd3f10c7 = $(`<div id="html_f257e6ff5b60435596617591bd3f10c7" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 01:54:51<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 50.5 <strong>Referencia:</strong> 16 km al NE de Alto Hospicio</div>`)[0];
            popup_c50712164aad406b80ead6d44348adb3.setContent(html_f257e6ff5b60435596617591bd3f10c7);
        

        marker_25aff528171048d3af2ef79c1f9c4ca3.bindPopup(popup_c50712164aad406b80ead6d44348adb3)
        ;

        
    
    
            var marker_21d5e79016544387a33f1de6aaef7780 = L.marker(
                [-20.794, -69.159],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_b33951f92eea45e188efda19f749f109 = L.popup({"maxWidth": "100%"});

        
            var html_d87172930ec6482faaabd80b07383e80 = $(`<div id="html_d87172930ec6482faaabd80b07383e80" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 19:28:21<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 96.1 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_b33951f92eea45e188efda19f749f109.setContent(html_d87172930ec6482faaabd80b07383e80);
        

        marker_21d5e79016544387a33f1de6aaef7780.bindPopup(popup_b33951f92eea45e188efda19f749f109)
        ;

        
    
    
            var marker_898f35445cdd4a608fe75bd343e53ddc = L.marker(
                [-21.297, -69.7],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_09be5eb3746d461799744bd4d979cfd0 = L.popup({"maxWidth": "100%"});

        
            var html_eaec8a45e1cf4060b0fedda23393e7f3 = $(`<div id="html_eaec8a45e1cf4060b0fedda23393e7f3" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 14:51:59<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 47.5 <strong>Referencia:</strong> 44 km al NO de Quillagua</div>`)[0];
            popup_09be5eb3746d461799744bd4d979cfd0.setContent(html_eaec8a45e1cf4060b0fedda23393e7f3);
        

        marker_898f35445cdd4a608fe75bd343e53ddc.bindPopup(popup_09be5eb3746d461799744bd4d979cfd0)
        ;

        
    
    
            var marker_ecb0c1d545ce406cb26cc85288db02c4 = L.marker(
                [-20.438, -69.067],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_2fcfb33059ce47a590d689f95682eaa5 = L.popup({"maxWidth": "100%"});

        
            var html_9735cb79da184b24b34a28db016b4bec = $(`<div id="html_9735cb79da184b24b34a28db016b4bec" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 02:10:15<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 28 km al E de Pica</div>`)[0];
            popup_2fcfb33059ce47a590d689f95682eaa5.setContent(html_9735cb79da184b24b34a28db016b4bec);
        

        marker_ecb0c1d545ce406cb26cc85288db02c4.bindPopup(popup_2fcfb33059ce47a590d689f95682eaa5)
        ;

        
    
    
            var marker_adf996d5430d4910b93600dd98ac010d = L.marker(
                [-21.113, -68.685],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_922b49cddd154f5c850a5e006c421c68 = L.popup({"maxWidth": "100%"});

        
            var html_54cf80aa7c904e3490860718d84c75fb = $(`<div id="html_54cf80aa7c904e3490860718d84c75fb" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 23:17:26<br><strong>magnitud:</strong> 3.9<br><strong>Profundidad:</strong> 124.0 <strong>Referencia:</strong> 32 km al S de Mina Collahuasi</div>`)[0];
            popup_922b49cddd154f5c850a5e006c421c68.setContent(html_54cf80aa7c904e3490860718d84c75fb);
        

        marker_adf996d5430d4910b93600dd98ac010d.bindPopup(popup_922b49cddd154f5c850a5e006c421c68)
        ;

        
    
    
            var marker_336e7ef44cc346a598ce27cea2469653 = L.marker(
                [-21.097, -68.915],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_99887b49ebb74e0483f2b2713ee26e9e = L.popup({"maxWidth": "100%"});

        
            var html_6fada91995d548d49b82e4bf30830904 = $(`<div id="html_6fada91995d548d49b82e4bf30830904" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 22:54:15<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 108.6 <strong>Referencia:</strong> 40 km al SO de Mina Collahuasi</div>`)[0];
            popup_99887b49ebb74e0483f2b2713ee26e9e.setContent(html_6fada91995d548d49b82e4bf30830904);
        

        marker_336e7ef44cc346a598ce27cea2469653.bindPopup(popup_99887b49ebb74e0483f2b2713ee26e9e)
        ;

        
    
    
            var marker_f54df54445d04d27b87265d7d7f4dbae = L.marker(
                [-19.498, -69.988],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_3a5a528d3d99433eb82522bebf6acefe = L.popup({"maxWidth": "100%"});

        
            var html_3ee02b185d6044fbb6e4b734640dc010 = $(`<div id="html_3ee02b185d6044fbb6e4b734640dc010" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:41<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 83.0 <strong>Referencia:</strong> 26 km al NE de Pisagua</div>`)[0];
            popup_3a5a528d3d99433eb82522bebf6acefe.setContent(html_3ee02b185d6044fbb6e4b734640dc010);
        

        marker_f54df54445d04d27b87265d7d7f4dbae.bindPopup(popup_3a5a528d3d99433eb82522bebf6acefe)
        ;

        
    
    
            var marker_17650f7c025c4b1ea07a77cbaddd75fe = L.marker(
                [-21.412, -68.779],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_2b73bb1e565140f997a6dc02df44667e = L.popup({"maxWidth": "100%"});

        
            var html_f89f106c49a24c5cb49e6b605e41cfb1 = $(`<div id="html_f89f106c49a24c5cb49e6b605e41cfb1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 05:02:16<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 103.6 <strong>Referencia:</strong> 58 km al O de Ollagüe</div>`)[0];
            popup_2b73bb1e565140f997a6dc02df44667e.setContent(html_f89f106c49a24c5cb49e6b605e41cfb1);
        

        marker_17650f7c025c4b1ea07a77cbaddd75fe.bindPopup(popup_2b73bb1e565140f997a6dc02df44667e)
        ;

        
    
    
            var marker_6565b6fbc7d44f9ca460942c97a74d66 = L.marker(
                [-21.318, -69.933],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_7eae313c8e5d4d31ae3acf388ef974ad = L.popup({"maxWidth": "100%"});

        
            var html_ad99ac50a2134d51aac5d214c04e3913 = $(`<div id="html_ad99ac50a2134d51aac5d214c04e3913" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 02:52:57<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 47.0 <strong>Referencia:</strong> 56 km al NO de Quillagua</div>`)[0];
            popup_7eae313c8e5d4d31ae3acf388ef974ad.setContent(html_ad99ac50a2134d51aac5d214c04e3913);
        

        marker_6565b6fbc7d44f9ca460942c97a74d66.bindPopup(popup_7eae313c8e5d4d31ae3acf388ef974ad)
        ;

        
    
    
            var marker_1ed10c14c0cc4a74b81ae08f9fdb1163 = L.marker(
                [-20.601, -68.982],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_b9331047ed0f42a385f303bded4ceb68 = L.popup({"maxWidth": "100%"});

        
            var html_2babdfe2832043e783c68e6f28788eca = $(`<div id="html_2babdfe2832043e783c68e6f28788eca" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 17:45:25<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 105.2 <strong>Referencia:</strong> 38 km al E de Pica</div>`)[0];
            popup_b9331047ed0f42a385f303bded4ceb68.setContent(html_2babdfe2832043e783c68e6f28788eca);
        

        marker_1ed10c14c0cc4a74b81ae08f9fdb1163.bindPopup(popup_b9331047ed0f42a385f303bded4ceb68)
        ;

        
    
    
            var marker_c0b9ad1adc03484e87c6b9eb2a519b6a = L.marker(
                [-21.572, -68.62],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_54c52e5ac45c4ee699ede1a1b011bdcc = L.popup({"maxWidth": "100%"});

        
            var html_dd788909aa51467ca139666e65cd4a91 = $(`<div id="html_dd788909aa51467ca139666e65cd4a91" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:50:50<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 125.0 <strong>Referencia:</strong> 54 km al SO de Ollagüe</div>`)[0];
            popup_54c52e5ac45c4ee699ede1a1b011bdcc.setContent(html_dd788909aa51467ca139666e65cd4a91);
        

        marker_c0b9ad1adc03484e87c6b9eb2a519b6a.bindPopup(popup_54c52e5ac45c4ee699ede1a1b011bdcc)
        ;

        
    
    
            var marker_796514f232b34d83bba1ffc4718e65ce = L.marker(
                [-19.497, -69.904],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_26923cc973204740babb18bacb98d950 = L.popup({"maxWidth": "100%"});

        
            var html_ea611666de2842c9b6c4fa2abe4f8e3f = $(`<div id="html_ea611666de2842c9b6c4fa2abe4f8e3f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:42<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 44.7 <strong>Referencia:</strong> 34 km al E de Pisagua</div>`)[0];
            popup_26923cc973204740babb18bacb98d950.setContent(html_ea611666de2842c9b6c4fa2abe4f8e3f);
        

        marker_796514f232b34d83bba1ffc4718e65ce.bindPopup(popup_26923cc973204740babb18bacb98d950)
        ;

        
    
    
            var marker_531ef69443864a899d402cb0d7a83c8e = L.marker(
                [-21.347, -68.734],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_af91260435b649808d59487182124669 = L.popup({"maxWidth": "100%"});

        
            var html_db2f3bf5d415441c9cc721ef6879aa92 = $(`<div id="html_db2f3bf5d415441c9cc721ef6879aa92" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:12:19<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 115.3 <strong>Referencia:</strong> 52 km al O de Ollagüe</div>`)[0];
            popup_af91260435b649808d59487182124669.setContent(html_db2f3bf5d415441c9cc721ef6879aa92);
        

        marker_531ef69443864a899d402cb0d7a83c8e.bindPopup(popup_af91260435b649808d59487182124669)
        ;

        
    
    
            var marker_19b34526eb144800aea7f20d21793e75 = L.marker(
                [-21.103, -68.471],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_589265cd4ddf4626be2408c17b74e387 = L.popup({"maxWidth": "100%"});

        
            var html_07d10270c49c49f1afc3eb2f7d8cfa89 = $(`<div id="html_07d10270c49c49f1afc3eb2f7d8cfa89" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 03:58:26<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 130.4 <strong>Referencia:</strong> 26 km al NO de Ollagüe</div>`)[0];
            popup_589265cd4ddf4626be2408c17b74e387.setContent(html_07d10270c49c49f1afc3eb2f7d8cfa89);
        

        marker_19b34526eb144800aea7f20d21793e75.bindPopup(popup_589265cd4ddf4626be2408c17b74e387)
        ;

        
    
    
            var marker_87822b15ff7c45f39996eb3a1dd4d199 = L.marker(
                [-21.512, -68.832],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_530c7bc2b9dc473188ca59560d4bd283 = L.popup({"maxWidth": "100%"});

        
            var html_d4a095b81b0a4dc4b140e1f6cdf6a8a6 = $(`<div id="html_d4a095b81b0a4dc4b140e1f6cdf6a8a6" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 01:11:44<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 116.5 <strong>Referencia:</strong> 68 km al SO de Ollagüe</div>`)[0];
            popup_530c7bc2b9dc473188ca59560d4bd283.setContent(html_d4a095b81b0a4dc4b140e1f6cdf6a8a6);
        

        marker_87822b15ff7c45f39996eb3a1dd4d199.bindPopup(popup_530c7bc2b9dc473188ca59560d4bd283)
        ;

        
    
    
            var marker_a825de54a24a420890ca47cb775a5c69 = L.marker(
                [-20.166, -69.149],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_c6c1dd1d6fb94abfab9409cc95886ef6 = L.popup({"maxWidth": "100%"});

        
            var html_11e15afd8dad4965b3c8ef8f901fd658 = $(`<div id="html_11e15afd8dad4965b3c8ef8f901fd658" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 23:13:40<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 96.5 <strong>Referencia:</strong> 41 km al NE de Pica</div>`)[0];
            popup_c6c1dd1d6fb94abfab9409cc95886ef6.setContent(html_11e15afd8dad4965b3c8ef8f901fd658);
        

        marker_a825de54a24a420890ca47cb775a5c69.bindPopup(popup_c6c1dd1d6fb94abfab9409cc95886ef6)
        ;

        
    
    
            var marker_5200770de9f34d258bd3c86d52188b40 = L.marker(
                [-21.387, -68.758],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_262e6c4f16cb41159d2c8eee34647c47 = L.popup({"maxWidth": "100%"});

        
            var html_3b7bfabc012f455582de3d19689b8b36 = $(`<div id="html_3b7bfabc012f455582de3d19689b8b36" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 22:50:59<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 119.5 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_262e6c4f16cb41159d2c8eee34647c47.setContent(html_3b7bfabc012f455582de3d19689b8b36);
        

        marker_5200770de9f34d258bd3c86d52188b40.bindPopup(popup_262e6c4f16cb41159d2c8eee34647c47)
        ;

        
    
    
            var marker_61ac7b201ceb4692aebeb3c7aed0f0b7 = L.marker(
                [-19.817, -69.564],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_038b433c940a48e8810121c92ae344e8 = L.popup({"maxWidth": "100%"});

        
            var html_467217882a67441b808a1cde0537b629 = $(`<div id="html_467217882a67441b808a1cde0537b629" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 01:38:32<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 54 km al NE de Pozo Almonte</div>`)[0];
            popup_038b433c940a48e8810121c92ae344e8.setContent(html_467217882a67441b808a1cde0537b629);
        

        marker_61ac7b201ceb4692aebeb3c7aed0f0b7.bindPopup(popup_038b433c940a48e8810121c92ae344e8)
        ;

        
    
    
            var marker_ca1311b7786745a1b8dd76040485c0c3 = L.marker(
                [-21.098, -68.863],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_f6b99ef4eb324b4b80b206b7a6260763 = L.popup({"maxWidth": "100%"});

        
            var html_7dd7b405325e426b902dae5cae29cb2e = $(`<div id="html_7dd7b405325e426b902dae5cae29cb2e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 19:57:18<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 109.1 <strong>Referencia:</strong> 37 km al SO de Mina Collahuasi</div>`)[0];
            popup_f6b99ef4eb324b4b80b206b7a6260763.setContent(html_7dd7b405325e426b902dae5cae29cb2e);
        

        marker_ca1311b7786745a1b8dd76040485c0c3.bindPopup(popup_f6b99ef4eb324b4b80b206b7a6260763)
        ;

        
    
    
            var marker_fae57137d8cb4b0098fa7f0f85717cb7 = L.marker(
                [-20.827, -69.88],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_73d7e9ca990c410d909f30094ce31ebe = L.popup({"maxWidth": "100%"});

        
            var html_7f6a6571676742599a62f10da000f309 = $(`<div id="html_7f6a6571676742599a62f10da000f309" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 12:29:30<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 59.9 <strong>Referencia:</strong> 64 km al S de Pozo Almonte</div>`)[0];
            popup_73d7e9ca990c410d909f30094ce31ebe.setContent(html_7f6a6571676742599a62f10da000f309);
        

        marker_fae57137d8cb4b0098fa7f0f85717cb7.bindPopup(popup_73d7e9ca990c410d909f30094ce31ebe)
        ;

        
    
    
            var marker_6f74a95f362b4282aa7d9c0ae7cc3bc8 = L.marker(
                [-19.977, -68.974],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_10ce12cbdbe64f01a0b2499b6541de26 = L.popup({"maxWidth": "100%"});

        
            var html_8cf8ce7dddc84039a4f0ac04bb7ad6bc = $(`<div id="html_8cf8ce7dddc84039a4f0ac04bb7ad6bc" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 02:01:42<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 105.8 <strong>Referencia:</strong> 68 km al NE de Pica</div>`)[0];
            popup_10ce12cbdbe64f01a0b2499b6541de26.setContent(html_8cf8ce7dddc84039a4f0ac04bb7ad6bc);
        

        marker_6f74a95f362b4282aa7d9c0ae7cc3bc8.bindPopup(popup_10ce12cbdbe64f01a0b2499b6541de26)
        ;

        
    
    
            var marker_29bd86ff5f31472ea085e6824422c251 = L.marker(
                [-20.111, -70.029],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_39f32fbe42984d5fbf66f1430f0ad908 = L.popup({"maxWidth": "100%"});

        
            var html_7f511f20189847d58b4addec01f22809 = $(`<div id="html_7f511f20189847d58b4addec01f22809" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-31 17:37:02<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 76.6 <strong>Referencia:</strong> 17 km al NE de Iquique</div>`)[0];
            popup_39f32fbe42984d5fbf66f1430f0ad908.setContent(html_7f511f20189847d58b4addec01f22809);
        

        marker_29bd86ff5f31472ea085e6824422c251.bindPopup(popup_39f32fbe42984d5fbf66f1430f0ad908)
        ;

        
    
    
            var marker_a8f9c8f8058347c380539ccbba3ae0b0 = L.marker(
                [-20.117, -70.379],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_c233ef2f1d18437a9a8afa319c838123 = L.popup({"maxWidth": "100%"});

        
            var html_9b68166c114340869e9fff6776ba02bf = $(`<div id="html_9b68166c114340869e9fff6776ba02bf" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 20:27:25<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 26 km al NO de Iquique</div>`)[0];
            popup_c233ef2f1d18437a9a8afa319c838123.setContent(html_9b68166c114340869e9fff6776ba02bf);
        

        marker_a8f9c8f8058347c380539ccbba3ae0b0.bindPopup(popup_c233ef2f1d18437a9a8afa319c838123)
        ;

        
    
    
            var marker_f04098dcd577410384519b116f80ed1b = L.marker(
                [-20.022, -69.142],
                {"clusteredMarker": true}
            ).addTo(marker_cluster_c219203efddc477dba5c81e1e4c10980);
        
    
        var popup_1695fb4b9a1f475e90e5b7bfc42d26c3 = L.popup({"maxWidth": "100%"});

        
            var html_883f1a48f0474346b61297497fa7f99e = $(`<div id="html_883f1a48f0474346b61297497fa7f99e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 19:03:27<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 95.0 <strong>Referencia:</strong> 56 km al N de Pica</div>`)[0];
            popup_1695fb4b9a1f475e90e5b7bfc42d26c3.setContent(html_883f1a48f0474346b61297497fa7f99e);
        

        marker_f04098dcd577410384519b116f80ed1b.bindPopup(popup_1695fb4b9a1f475e90e5b7bfc42d26c3)
        ;

        
    
    
            var marker_7600beb573094e1892d56b0d29bca0fe = L.marker(
                [-20.214066, -70.152465],
                {}
            ).addTo(map_5b2f848d0a5f4b5b87861deb42225fb7);
        
    
            var icon_3a7e101cd88f4afe8eceb85de738701c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7600beb573094e1892d56b0d29bca0fe.setIcon(icon_3a7e101cd88f4afe8eceb85de738701c);
        
    
        var popup_6ba0901f34e345b488fe296c61d2a898 = L.popup({"maxWidth": "100%"});

        
            var html_bb5ff62718914589bf099b77ef57ccb5 = $(`<div id="html_bb5ff62718914589bf099b77ef57ccb5" style="width: 100.0%; height: 100.0%;"><i>Iquique</i></div>`)[0];
            popup_6ba0901f34e345b488fe296c61d2a898.setContent(html_bb5ff62718914589bf099b77ef57ccb5);
        

        marker_7600beb573094e1892d56b0d29bca0fe.bindPopup(popup_6ba0901f34e345b488fe296c61d2a898)
        ;

        
    
</script>