<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5448437f3a0c41f7aaef840eb65ddd68 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5448437f3a0c41f7aaef840eb65ddd68" ></div>
        
</body>
<script>    
    
            var map_5448437f3a0c41f7aaef840eb65ddd68 = L.map(
                "map_5448437f3a0c41f7aaef840eb65ddd68",
                {
                    center: [-20.214066, -70.152465],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c687e96e16714e3c9ffb37fb11f244a8 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
            var circle_7614f6856a14405da600d25dc2379fce = L.circle(
                [-21.229, -68.923],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 454.35423999999995, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_306f9273de4c46ceae98f79408728bea = L.popup({"maxWidth": "100%"});

        
            var html_aa350e9c015b40d08cb4907cd59f9e0e = $(`<div id="html_aa350e9c015b40d08cb4907cd59f9e0e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 03:16:08<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 117.5 <strong>Referencia:</strong> 53 km al SO de Mina Collahuasi</div>`)[0];
            popup_306f9273de4c46ceae98f79408728bea.setContent(html_aa350e9c015b40d08cb4907cd59f9e0e);
        

        circle_7614f6856a14405da600d25dc2379fce.bindPopup(popup_306f9273de4c46ceae98f79408728bea)
        ;

        
    
    
            var circle_19606911893a4aeb8d4fe10068e62d46 = L.circle(
                [-19.982, -69.139],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_2c83fb0ef28b49ba9f5f3879dfa64a7a = L.popup({"maxWidth": "100%"});

        
            var html_12f59d9d80f44b2f8b1be0eef44c5304 = $(`<div id="html_12f59d9d80f44b2f8b1be0eef44c5304" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 01:05:38<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 95.5 <strong>Referencia:</strong> 60 km al N de Pica</div>`)[0];
            popup_2c83fb0ef28b49ba9f5f3879dfa64a7a.setContent(html_12f59d9d80f44b2f8b1be0eef44c5304);
        

        circle_19606911893a4aeb8d4fe10068e62d46.bindPopup(popup_2c83fb0ef28b49ba9f5f3879dfa64a7a)
        ;

        
    
    
            var circle_2a2edc7a241b4ef7bf2ad41d098ed45d = L.circle(
                [-19.962, -71.031],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_c16e8bdafd694919ba4da95e98b68bf9 = L.popup({"maxWidth": "100%"});

        
            var html_7ebc978c94ab4bb0a012446d215ffe80 = $(`<div id="html_7ebc978c94ab4bb0a012446d215ffe80" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 22:30:16<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 95 km al SO de Pisagua</div>`)[0];
            popup_c16e8bdafd694919ba4da95e98b68bf9.setContent(html_7ebc978c94ab4bb0a012446d215ffe80);
        

        circle_2a2edc7a241b4ef7bf2ad41d098ed45d.bindPopup(popup_c16e8bdafd694919ba4da95e98b68bf9)
        ;

        
    
    
            var circle_6389eb193ec7426f9deef9b27f35280d = L.circle(
                [-19.904, -69.885],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_0df4a86797fb4d3cb7bf1cd12a6517bc = L.popup({"maxWidth": "100%"});

        
            var html_46a494d41c6e4384a86f8556f5d11298 = $(`<div id="html_46a494d41c6e4384a86f8556f5d11298" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 17:10:58<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 53.2 <strong>Referencia:</strong> 41 km al N de Pozo Almonte</div>`)[0];
            popup_0df4a86797fb4d3cb7bf1cd12a6517bc.setContent(html_46a494d41c6e4384a86f8556f5d11298);
        

        circle_6389eb193ec7426f9deef9b27f35280d.bindPopup(popup_0df4a86797fb4d3cb7bf1cd12a6517bc)
        ;

        
    
    
            var circle_bf68ecf956824e5695f0f111de4e4c27 = L.circle(
                [-21.38, -68.762],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_0458453b766f44f1a116db462ebafb31 = L.popup({"maxWidth": "100%"});

        
            var html_31db1524cd22475e8ae3dfea40cbabda = $(`<div id="html_31db1524cd22475e8ae3dfea40cbabda" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 04:25:18<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 117.3 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_0458453b766f44f1a116db462ebafb31.setContent(html_31db1524cd22475e8ae3dfea40cbabda);
        

        circle_bf68ecf956824e5695f0f111de4e4c27.bindPopup(popup_0458453b766f44f1a116db462ebafb31)
        ;

        
    
    
            var circle_57c909c462eb4dcbb093b7273042de6a = L.circle(
                [-20.289, -69.304],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_7953316be15c4341912f452493fcaa63 = L.popup({"maxWidth": "100%"});

        
            var html_eb92d8ffbcb0431bacb3f2c47439c4f8 = $(`<div id="html_eb92d8ffbcb0431bacb3f2c47439c4f8" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 18:05:13<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 89.6 <strong>Referencia:</strong> 23 km al N de Pica</div>`)[0];
            popup_7953316be15c4341912f452493fcaa63.setContent(html_eb92d8ffbcb0431bacb3f2c47439c4f8);
        

        circle_57c909c462eb4dcbb093b7273042de6a.bindPopup(popup_7953316be15c4341912f452493fcaa63)
        ;

        
    
    
            var circle_bbf2cb73128c4dfb939cdfa101374e4d = L.circle(
                [-21.033, -68.982],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 335.5443200000001, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_8bb374643e944b5ca4047b76e854c927 = L.popup({"maxWidth": "100%"});

        
            var html_342db1601b7d45d79a47b3fb5578ffe9 = $(`<div id="html_342db1601b7d45d79a47b3fb5578ffe9" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 16:26:58<br><strong>magnitud:</strong> 3.2<br><strong>Profundidad:</strong> 110.3 <strong>Referencia:</strong> 41 km al SO de Mina Collahuasi</div>`)[0];
            popup_8bb374643e944b5ca4047b76e854c927.setContent(html_342db1601b7d45d79a47b3fb5578ffe9);
        

        circle_bbf2cb73128c4dfb939cdfa101374e4d.bindPopup(popup_8bb374643e944b5ca4047b76e854c927)
        ;

        
    
    
            var circle_78c83d4b2bc64ec689bb33e6c5e691de = L.circle(
                [-21.411, -69.623],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_c6ce819395b842938252db00b1dd92d8 = L.popup({"maxWidth": "100%"});

        
            var html_10a3438e3ec64b69b6b6323517f6953e = $(`<div id="html_10a3438e3ec64b69b6b6323517f6953e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 15:48:21<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 67.0 <strong>Referencia:</strong> 29 km al N de Quillagua</div>`)[0];
            popup_c6ce819395b842938252db00b1dd92d8.setContent(html_10a3438e3ec64b69b6b6323517f6953e);
        

        circle_78c83d4b2bc64ec689bb33e6c5e691de.bindPopup(popup_c6ce819395b842938252db00b1dd92d8)
        ;

        
    
    
            var circle_e86c43fb40fb423bb0bb267efc8fc42f = L.circle(
                [-19.759, -69.13],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_ed5b02c380d44f5fb7b400baa811fa95 = L.popup({"maxWidth": "100%"});

        
            var html_dd33f83e0ebb4ba2bd7c201cba0b526c = $(`<div id="html_dd33f83e0ebb4ba2bd7c201cba0b526c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-07 21:26:15<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 99.6 <strong>Referencia:</strong> 59 km al SE de Camiña</div>`)[0];
            popup_ed5b02c380d44f5fb7b400baa811fa95.setContent(html_dd33f83e0ebb4ba2bd7c201cba0b526c);
        

        circle_e86c43fb40fb423bb0bb267efc8fc42f.bindPopup(popup_ed5b02c380d44f5fb7b400baa811fa95)
        ;

        
    
    
            var circle_1f1a3bd542a84a668569c03b52553a8a = L.circle(
                [-21.077, -68.96],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_5c77351199754761b11f69abf7f9b876 = L.popup({"maxWidth": "100%"});

        
            var html_a9459aa5ff5a4d799e0ab11bf2607d4f = $(`<div id="html_a9459aa5ff5a4d799e0ab11bf2607d4f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 21:27:51<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 110.0 <strong>Referencia:</strong> 42 km al SO de Mina Collahuasi</div>`)[0];
            popup_5c77351199754761b11f69abf7f9b876.setContent(html_a9459aa5ff5a4d799e0ab11bf2607d4f);
        

        circle_1f1a3bd542a84a668569c03b52553a8a.bindPopup(popup_5c77351199754761b11f69abf7f9b876)
        ;

        
    
    
            var circle_9fb8850b619e4c9eb424b60daa01dce5 = L.circle(
                [-21.214, -70.385],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_785f5386201c4a67a72bb7e9703d27fb = L.popup({"maxWidth": "100%"});

        
            var html_b76255f198434768abe017a70a6bcddb = $(`<div id="html_b76255f198434768abe017a70a6bcddb" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 06:23:44<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 26.5 <strong>Referencia:</strong> 100 km al N de Tocopilla</div>`)[0];
            popup_785f5386201c4a67a72bb7e9703d27fb.setContent(html_b76255f198434768abe017a70a6bcddb);
        

        circle_9fb8850b619e4c9eb424b60daa01dce5.bindPopup(popup_785f5386201c4a67a72bb7e9703d27fb)
        ;

        
    
    
            var circle_ef8e209b516e4b76a6d4fbec7f6e3b27 = L.circle(
                [-21.48, -68.428],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_c1be6c96debe4b34aa5854f3b74c46ea = L.popup({"maxWidth": "100%"});

        
            var html_9d418c16948c48ba8f3ceb2ed7e1e86c = $(`<div id="html_9d418c16948c48ba8f3ceb2ed7e1e86c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 05:35:12<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 135.3 <strong>Referencia:</strong> 34 km al SO de Ollagüe</div>`)[0];
            popup_c1be6c96debe4b34aa5854f3b74c46ea.setContent(html_9d418c16948c48ba8f3ceb2ed7e1e86c);
        

        circle_ef8e209b516e4b76a6d4fbec7f6e3b27.bindPopup(popup_c1be6c96debe4b34aa5854f3b74c46ea)
        ;

        
    
    
            var circle_ad6f28326ce94ac3b34c8f567c7aaee0 = L.circle(
                [-20.158, -70.006],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_c6046e3e04674acbac5808d8512fd26e = L.popup({"maxWidth": "100%"});

        
            var html_11ed834738a043d58029bd973843319c = $(`<div id="html_11ed834738a043d58029bd973843319c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 01:54:51<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 50.5 <strong>Referencia:</strong> 16 km al NE de Alto Hospicio</div>`)[0];
            popup_c6046e3e04674acbac5808d8512fd26e.setContent(html_11ed834738a043d58029bd973843319c);
        

        circle_ad6f28326ce94ac3b34c8f567c7aaee0.bindPopup(popup_c6046e3e04674acbac5808d8512fd26e)
        ;

        
    
    
            var circle_1b0378df7093474eac2bd9c9d756b631 = L.circle(
                [-20.794, -69.159],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 454.35423999999995, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_cf7c3ee00fee429493d3b1bb5cfefdbd = L.popup({"maxWidth": "100%"});

        
            var html_3b7e5a093df24f0fabc4025351586c41 = $(`<div id="html_3b7e5a093df24f0fabc4025351586c41" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 19:28:21<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 96.1 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_cf7c3ee00fee429493d3b1bb5cfefdbd.setContent(html_3b7e5a093df24f0fabc4025351586c41);
        

        circle_1b0378df7093474eac2bd9c9d756b631.bindPopup(popup_cf7c3ee00fee429493d3b1bb5cfefdbd)
        ;

        
    
    
            var circle_c70bdb73191b4e17a245cae1829e1114 = L.circle(
                [-21.297, -69.7],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_ac9d3274c81b4bb8afbff853ec499fb7 = L.popup({"maxWidth": "100%"});

        
            var html_be1025fa29a944fe8a3d2802bd108ed5 = $(`<div id="html_be1025fa29a944fe8a3d2802bd108ed5" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 14:51:59<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 47.5 <strong>Referencia:</strong> 44 km al NO de Quillagua</div>`)[0];
            popup_ac9d3274c81b4bb8afbff853ec499fb7.setContent(html_be1025fa29a944fe8a3d2802bd108ed5);
        

        circle_c70bdb73191b4e17a245cae1829e1114.bindPopup(popup_ac9d3274c81b4bb8afbff853ec499fb7)
        ;

        
    
    
            var circle_450efceba2a2421fa687c5e5172a3d84 = L.circle(
                [-20.438, -69.067],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_2f9682b1a842421ca77881b6b95447a2 = L.popup({"maxWidth": "100%"});

        
            var html_e93f19fe1acf4076ad4d8f67a0c8953d = $(`<div id="html_e93f19fe1acf4076ad4d8f67a0c8953d" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 02:10:15<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 28 km al E de Pica</div>`)[0];
            popup_2f9682b1a842421ca77881b6b95447a2.setContent(html_e93f19fe1acf4076ad4d8f67a0c8953d);
        

        circle_450efceba2a2421fa687c5e5172a3d84.bindPopup(popup_2f9682b1a842421ca77881b6b95447a2)
        ;

        
    
    
            var circle_2837326ea1b843deb3e8b53934d31666 = L.circle(
                [-21.113, -68.685],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 902.2419899999999, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_e826b765a403430090f0c70a9e498caa = L.popup({"maxWidth": "100%"});

        
            var html_845137902d034e39822cdf9da815828d = $(`<div id="html_845137902d034e39822cdf9da815828d" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 23:17:26<br><strong>magnitud:</strong> 3.9<br><strong>Profundidad:</strong> 124.0 <strong>Referencia:</strong> 32 km al S de Mina Collahuasi</div>`)[0];
            popup_e826b765a403430090f0c70a9e498caa.setContent(html_845137902d034e39822cdf9da815828d);
        

        circle_2837326ea1b843deb3e8b53934d31666.bindPopup(popup_e826b765a403430090f0c70a9e498caa)
        ;

        
    
    
            var circle_e906590bfa08434190d87cbc8f5388ef = L.circle(
                [-21.097, -68.915],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_8ce2afeef24d4186aec39d0d6efb7b97 = L.popup({"maxWidth": "100%"});

        
            var html_62dcc4cad7c5459883dcb9bd2a51aeea = $(`<div id="html_62dcc4cad7c5459883dcb9bd2a51aeea" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 22:54:15<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 108.6 <strong>Referencia:</strong> 40 km al SO de Mina Collahuasi</div>`)[0];
            popup_8ce2afeef24d4186aec39d0d6efb7b97.setContent(html_62dcc4cad7c5459883dcb9bd2a51aeea);
        

        circle_e906590bfa08434190d87cbc8f5388ef.bindPopup(popup_8ce2afeef24d4186aec39d0d6efb7b97)
        ;

        
    
    
            var circle_98aa7fbfc9ce4d8da5fa6f3848e0c3e7 = L.circle(
                [-19.498, -69.988],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_7593fac5dc3b49b9a64b0ea33f1a37a3 = L.popup({"maxWidth": "100%"});

        
            var html_21a358a428714511acdedcf6a1b44615 = $(`<div id="html_21a358a428714511acdedcf6a1b44615" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:41<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 83.0 <strong>Referencia:</strong> 26 km al NE de Pisagua</div>`)[0];
            popup_7593fac5dc3b49b9a64b0ea33f1a37a3.setContent(html_21a358a428714511acdedcf6a1b44615);
        

        circle_98aa7fbfc9ce4d8da5fa6f3848e0c3e7.bindPopup(popup_7593fac5dc3b49b9a64b0ea33f1a37a3)
        ;

        
    
    
            var circle_0266aabb492a48daa3eb0902cb4e48f7 = L.circle(
                [-21.412, -68.779],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_dffa85780ad94561b747d96ff918f53c = L.popup({"maxWidth": "100%"});

        
            var html_89f3ce1e48ed4a8eb4f24c0755e232ab = $(`<div id="html_89f3ce1e48ed4a8eb4f24c0755e232ab" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 05:02:16<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 103.6 <strong>Referencia:</strong> 58 km al O de Ollagüe</div>`)[0];
            popup_dffa85780ad94561b747d96ff918f53c.setContent(html_89f3ce1e48ed4a8eb4f24c0755e232ab);
        

        circle_0266aabb492a48daa3eb0902cb4e48f7.bindPopup(popup_dffa85780ad94561b747d96ff918f53c)
        ;

        
    
    
            var circle_e64f8173b9fe4171a763b7a8bb83ff99 = L.circle(
                [-21.318, -69.933],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_6c41f9ccb6bf43f18ccfdd2b974d9033 = L.popup({"maxWidth": "100%"});

        
            var html_165aa97d777e4fbdae05b5ac465f2401 = $(`<div id="html_165aa97d777e4fbdae05b5ac465f2401" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 02:52:57<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 47.0 <strong>Referencia:</strong> 56 km al NO de Quillagua</div>`)[0];
            popup_6c41f9ccb6bf43f18ccfdd2b974d9033.setContent(html_165aa97d777e4fbdae05b5ac465f2401);
        

        circle_e64f8173b9fe4171a763b7a8bb83ff99.bindPopup(popup_6c41f9ccb6bf43f18ccfdd2b974d9033)
        ;

        
    
    
            var circle_5aef9b42e3fe4b08ae296064dd7f7c35 = L.circle(
                [-20.601, -68.982],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_8220622c0a6a40d68c69bc98b668b18c = L.popup({"maxWidth": "100%"});

        
            var html_f0cd9487322d4fc3aeafe06fed85d6cc = $(`<div id="html_f0cd9487322d4fc3aeafe06fed85d6cc" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 17:45:25<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 105.2 <strong>Referencia:</strong> 38 km al E de Pica</div>`)[0];
            popup_8220622c0a6a40d68c69bc98b668b18c.setContent(html_f0cd9487322d4fc3aeafe06fed85d6cc);
        

        circle_5aef9b42e3fe4b08ae296064dd7f7c35.bindPopup(popup_8220622c0a6a40d68c69bc98b668b18c)
        ;

        
    
    
            var circle_fb48cb5c80214c39ae476c8331d0bd22 = L.circle(
                [-21.572, -68.62],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_cfbebd237b8142a388afd290b8b35a6f = L.popup({"maxWidth": "100%"});

        
            var html_d082ff6dab524a249b0779a72a2ed5ca = $(`<div id="html_d082ff6dab524a249b0779a72a2ed5ca" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:50:50<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 125.0 <strong>Referencia:</strong> 54 km al SO de Ollagüe</div>`)[0];
            popup_cfbebd237b8142a388afd290b8b35a6f.setContent(html_d082ff6dab524a249b0779a72a2ed5ca);
        

        circle_fb48cb5c80214c39ae476c8331d0bd22.bindPopup(popup_cfbebd237b8142a388afd290b8b35a6f)
        ;

        
    
    
            var circle_cb7eacbc93dd48b09a1546248cd06dd2 = L.circle(
                [-19.497, -69.904],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_7f225b69163e4fbd952973e12c6a65f8 = L.popup({"maxWidth": "100%"});

        
            var html_fb38ae179069405ea7b29da37033a9fb = $(`<div id="html_fb38ae179069405ea7b29da37033a9fb" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:42<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 44.7 <strong>Referencia:</strong> 34 km al E de Pisagua</div>`)[0];
            popup_7f225b69163e4fbd952973e12c6a65f8.setContent(html_fb38ae179069405ea7b29da37033a9fb);
        

        circle_cb7eacbc93dd48b09a1546248cd06dd2.bindPopup(popup_7f225b69163e4fbd952973e12c6a65f8)
        ;

        
    
    
            var circle_d6b1c5e8c14d454d8cee307886311eec = L.circle(
                [-21.347, -68.734],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 391.3539299999999, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_2031fa22d85345feaf6dced74d7a83c5 = L.popup({"maxWidth": "100%"});

        
            var html_bd2a86b9d9664d4984a6d32b992fdb27 = $(`<div id="html_bd2a86b9d9664d4984a6d32b992fdb27" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:12:19<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 115.3 <strong>Referencia:</strong> 52 km al O de Ollagüe</div>`)[0];
            popup_2031fa22d85345feaf6dced74d7a83c5.setContent(html_bd2a86b9d9664d4984a6d32b992fdb27);
        

        circle_d6b1c5e8c14d454d8cee307886311eec.bindPopup(popup_2031fa22d85345feaf6dced74d7a83c5)
        ;

        
    
    
            var circle_9f129d417c8d43beaf43620e3cdd80a2 = L.circle(
                [-21.103, -68.471],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_60349e3e06004109b127a47745287162 = L.popup({"maxWidth": "100%"});

        
            var html_c39c233c089f4b6b94466502b96c0c56 = $(`<div id="html_c39c233c089f4b6b94466502b96c0c56" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 03:58:26<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 130.4 <strong>Referencia:</strong> 26 km al NO de Ollagüe</div>`)[0];
            popup_60349e3e06004109b127a47745287162.setContent(html_c39c233c089f4b6b94466502b96c0c56);
        

        circle_9f129d417c8d43beaf43620e3cdd80a2.bindPopup(popup_60349e3e06004109b127a47745287162)
        ;

        
    
    
            var circle_1a35311310464f35bf444f898ba84f79 = L.circle(
                [-21.512, -68.832],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_667cf8e9f1544eab8255bdf0e8631e46 = L.popup({"maxWidth": "100%"});

        
            var html_ad69d5ed880144e8ac2dfe6d00274ddf = $(`<div id="html_ad69d5ed880144e8ac2dfe6d00274ddf" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 01:11:44<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 116.5 <strong>Referencia:</strong> 68 km al SO de Ollagüe</div>`)[0];
            popup_667cf8e9f1544eab8255bdf0e8631e46.setContent(html_ad69d5ed880144e8ac2dfe6d00274ddf);
        

        circle_1a35311310464f35bf444f898ba84f79.bindPopup(popup_667cf8e9f1544eab8255bdf0e8631e46)
        ;

        
    
    
            var circle_fdfa7a1349ea406581b3afa042e2e24e = L.circle(
                [-20.166, -69.149],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_fb88eb3dd9214acfaeb3f035c6631288 = L.popup({"maxWidth": "100%"});

        
            var html_8b66bc65c46d422491d95f02e30fd4b1 = $(`<div id="html_8b66bc65c46d422491d95f02e30fd4b1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 23:13:40<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 96.5 <strong>Referencia:</strong> 41 km al NE de Pica</div>`)[0];
            popup_fb88eb3dd9214acfaeb3f035c6631288.setContent(html_8b66bc65c46d422491d95f02e30fd4b1);
        

        circle_fdfa7a1349ea406581b3afa042e2e24e.bindPopup(popup_fb88eb3dd9214acfaeb3f035c6631288)
        ;

        
    
    
            var circle_29c320967e824743a0192e61100588bf = L.circle(
                [-21.387, -68.758],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_b38331e3e96b4435a7d7fadad95df26c = L.popup({"maxWidth": "100%"});

        
            var html_42c83fe6786541fc85554c17bd87040f = $(`<div id="html_42c83fe6786541fc85554c17bd87040f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 22:50:59<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 119.5 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_b38331e3e96b4435a7d7fadad95df26c.setContent(html_42c83fe6786541fc85554c17bd87040f);
        

        circle_29c320967e824743a0192e61100588bf.bindPopup(popup_b38331e3e96b4435a7d7fadad95df26c)
        ;

        
    
    
            var circle_83d81f1700844cfd8401cbb2e9b733ac = L.circle(
                [-19.817, -69.564],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_9d3f1310f0b1430082d8ccd787241b84 = L.popup({"maxWidth": "100%"});

        
            var html_0ba65b1f1d8442918e5a991802865128 = $(`<div id="html_0ba65b1f1d8442918e5a991802865128" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 01:38:32<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 54 km al NE de Pozo Almonte</div>`)[0];
            popup_9d3f1310f0b1430082d8ccd787241b84.setContent(html_0ba65b1f1d8442918e5a991802865128);
        

        circle_83d81f1700844cfd8401cbb2e9b733ac.bindPopup(popup_9d3f1310f0b1430082d8ccd787241b84)
        ;

        
    
    
            var circle_b938024e9c1e4e90a5247320d37816e4 = L.circle(
                [-21.098, -68.863],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_14755ac5e4224343920fa6d88d11c013 = L.popup({"maxWidth": "100%"});

        
            var html_5f60115e8c704fb3aacb0fb3eb3affaa = $(`<div id="html_5f60115e8c704fb3aacb0fb3eb3affaa" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 19:57:18<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 109.1 <strong>Referencia:</strong> 37 km al SO de Mina Collahuasi</div>`)[0];
            popup_14755ac5e4224343920fa6d88d11c013.setContent(html_5f60115e8c704fb3aacb0fb3eb3affaa);
        

        circle_b938024e9c1e4e90a5247320d37816e4.bindPopup(popup_14755ac5e4224343920fa6d88d11c013)
        ;

        
    
    
            var circle_4c4f6c83e6a34398a20a4370e09f66f3 = L.circle(
                [-20.827, -69.88],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_1b596073631a4636bb216026c607c108 = L.popup({"maxWidth": "100%"});

        
            var html_06ff4c7795d748b78deca0bb71d7c180 = $(`<div id="html_06ff4c7795d748b78deca0bb71d7c180" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 12:29:30<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 59.9 <strong>Referencia:</strong> 64 km al S de Pozo Almonte</div>`)[0];
            popup_1b596073631a4636bb216026c607c108.setContent(html_06ff4c7795d748b78deca0bb71d7c180);
        

        circle_4c4f6c83e6a34398a20a4370e09f66f3.bindPopup(popup_1b596073631a4636bb216026c607c108)
        ;

        
    
    
            var circle_bc7db192d75d4b73844cee63f57eb1d3 = L.circle(
                [-19.977, -68.974],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_6cae6074c3f247e7a563b3e6a524f848 = L.popup({"maxWidth": "100%"});

        
            var html_d74196407f184cc9be587c48d472ac84 = $(`<div id="html_d74196407f184cc9be587c48d472ac84" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 02:01:42<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 105.8 <strong>Referencia:</strong> 68 km al NE de Pica</div>`)[0];
            popup_6cae6074c3f247e7a563b3e6a524f848.setContent(html_d74196407f184cc9be587c48d472ac84);
        

        circle_bc7db192d75d4b73844cee63f57eb1d3.bindPopup(popup_6cae6074c3f247e7a563b3e6a524f848)
        ;

        
    
    
            var circle_27ab9b43e70a43efb9d5afa620b30652 = L.circle(
                [-20.111, -70.029],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_d32176369b7849b3bfba7bf633d4820e = L.popup({"maxWidth": "100%"});

        
            var html_f258d4ef9c4e4d9e9fc6c653d5527734 = $(`<div id="html_f258d4ef9c4e4d9e9fc6c653d5527734" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-31 17:37:02<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 76.6 <strong>Referencia:</strong> 17 km al NE de Iquique</div>`)[0];
            popup_d32176369b7849b3bfba7bf633d4820e.setContent(html_f258d4ef9c4e4d9e9fc6c653d5527734);
        

        circle_27ab9b43e70a43efb9d5afa620b30652.bindPopup(popup_d32176369b7849b3bfba7bf633d4820e)
        ;

        
    
    
            var circle_f22ab8ce70f44e1abe6133072f08ea36 = L.circle(
                [-20.117, -70.379],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_1d1380ce4ae74809906a7753f70eeca7 = L.popup({"maxWidth": "100%"});

        
            var html_7053f2f45639447d9da808d11c50f17f = $(`<div id="html_7053f2f45639447d9da808d11c50f17f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 20:27:25<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 26 km al NO de Iquique</div>`)[0];
            popup_1d1380ce4ae74809906a7753f70eeca7.setContent(html_7053f2f45639447d9da808d11c50f17f);
        

        circle_f22ab8ce70f44e1abe6133072f08ea36.bindPopup(popup_1d1380ce4ae74809906a7753f70eeca7)
        ;

        
    
    
            var circle_1961ac415cdd4635a0825043c7979496 = L.circle(
                [-20.022, -69.142],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 525.21875, "stroke": true, "weight": 15}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
        var popup_c196460bb1824abe8dc01a44f1e6c05e = L.popup({"maxWidth": "100%"});

        
            var html_c60318ce045e4d53b223a9207600abb7 = $(`<div id="html_c60318ce045e4d53b223a9207600abb7" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 19:03:27<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 95.0 <strong>Referencia:</strong> 56 km al N de Pica</div>`)[0];
            popup_c196460bb1824abe8dc01a44f1e6c05e.setContent(html_c60318ce045e4d53b223a9207600abb7);
        

        circle_1961ac415cdd4635a0825043c7979496.bindPopup(popup_c196460bb1824abe8dc01a44f1e6c05e)
        ;

        
    
    
            var marker_afa9dce52e3141de9ebd31ce6e97d3e0 = L.marker(
                [-20.214066, -70.152465],
                {}
            ).addTo(map_5448437f3a0c41f7aaef840eb65ddd68);
        
    
            var icon_c17407a94b714416ba26a8b98f35ae09 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_afa9dce52e3141de9ebd31ce6e97d3e0.setIcon(icon_c17407a94b714416ba26a8b98f35ae09);
        
    
        var popup_1821d2f8c8c144ab8986f866a150c8cd = L.popup({"maxWidth": "100%"});

        
            var html_3d845a8fb57e4ba397ea34d436ea4e96 = $(`<div id="html_3d845a8fb57e4ba397ea34d436ea4e96" style="width: 100.0%; height: 100.0%;"><i>iquique</i></div>`)[0];
            popup_1821d2f8c8c144ab8986f866a150c8cd.setContent(html_3d845a8fb57e4ba397ea34d436ea4e96);
        

        marker_afa9dce52e3141de9ebd31ce6e97d3e0.bindPopup(popup_1821d2f8c8c144ab8986f866a150c8cd)
        ;

        
    
    
            marker_afa9dce52e3141de9ebd31ce6e97d3e0.bindTooltip(
                `<div>
                     Iquique
                 </div>`,
                {"sticky": true}
            );
        
</script>