<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8783769d75234aedbc1c218d7a482d67 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8783769d75234aedbc1c218d7a482d67" ></div>
        
</body>
<script>    
    
            var map_8783769d75234aedbc1c218d7a482d67 = L.map(
                "map_8783769d75234aedbc1c218d7a482d67",
                {
                    center: [-20.214066, -70.152465],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_111585f2365647b3b32d14508f472ce6 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
            var circle_5dd7c5f7673844fc95235ed1d9b8f8d8 = L.circle(
                [-19.498, -69.988],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_87367f05ea2e42be8a915dea638e3885 = L.popup({"maxWidth": "100%"});

        
            var html_9cf404f0b5f941659609794fda87110e = $(`<div id="html_9cf404f0b5f941659609794fda87110e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:41<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 83.0 <strong>Referencia:</strong> 26 km al NE de Pisagua</div>`)[0];
            popup_87367f05ea2e42be8a915dea638e3885.setContent(html_9cf404f0b5f941659609794fda87110e);
        

        circle_5dd7c5f7673844fc95235ed1d9b8f8d8.bindPopup(popup_87367f05ea2e42be8a915dea638e3885)
        ;

        
    
    
            var circle_7e5d65e202b44090829fbe2f2ed53c1b = L.circle(
                [-21.412, -68.779],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_56dff184e5e74aa4870edf5d559c3023 = L.popup({"maxWidth": "100%"});

        
            var html_425374b54772476e95c6dc8a13b20f3e = $(`<div id="html_425374b54772476e95c6dc8a13b20f3e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 05:02:16<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 103.6 <strong>Referencia:</strong> 58 km al O de Ollagüe</div>`)[0];
            popup_56dff184e5e74aa4870edf5d559c3023.setContent(html_425374b54772476e95c6dc8a13b20f3e);
        

        circle_7e5d65e202b44090829fbe2f2ed53c1b.bindPopup(popup_56dff184e5e74aa4870edf5d559c3023)
        ;

        
    
    
            var circle_59426650cc784a1ab49698cd39b5c63a = L.circle(
                [-21.318, -69.933],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_3f0a78005f914c5eb1437707348697a9 = L.popup({"maxWidth": "100%"});

        
            var html_a5a7c443293a45b39dfb27520895baf6 = $(`<div id="html_a5a7c443293a45b39dfb27520895baf6" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 02:52:57<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 47.0 <strong>Referencia:</strong> 56 km al NO de Quillagua</div>`)[0];
            popup_3f0a78005f914c5eb1437707348697a9.setContent(html_a5a7c443293a45b39dfb27520895baf6);
        

        circle_59426650cc784a1ab49698cd39b5c63a.bindPopup(popup_3f0a78005f914c5eb1437707348697a9)
        ;

        
    
    
            var circle_cd7bbfe2aa7349b49d3b655917cfc3c7 = L.circle(
                [-20.601, -68.982],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_13ff273048644c29a162fe9739801fee = L.popup({"maxWidth": "100%"});

        
            var html_b00fb508aebb435fa6b94bcb7a757431 = $(`<div id="html_b00fb508aebb435fa6b94bcb7a757431" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 17:45:25<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 105.2 <strong>Referencia:</strong> 38 km al E de Pica</div>`)[0];
            popup_13ff273048644c29a162fe9739801fee.setContent(html_b00fb508aebb435fa6b94bcb7a757431);
        

        circle_cd7bbfe2aa7349b49d3b655917cfc3c7.bindPopup(popup_13ff273048644c29a162fe9739801fee)
        ;

        
    
    
            var circle_dd608722128c4b5cb2d145d4790f9c28 = L.circle(
                [-21.572, -68.62],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_4ee24045d4f64a9da5b61e6fe88de8f9 = L.popup({"maxWidth": "100%"});

        
            var html_9efd652877c94a908bc044b0bd95305a = $(`<div id="html_9efd652877c94a908bc044b0bd95305a" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:50:50<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 125.0 <strong>Referencia:</strong> 54 km al SO de Ollagüe</div>`)[0];
            popup_4ee24045d4f64a9da5b61e6fe88de8f9.setContent(html_9efd652877c94a908bc044b0bd95305a);
        

        circle_dd608722128c4b5cb2d145d4790f9c28.bindPopup(popup_4ee24045d4f64a9da5b61e6fe88de8f9)
        ;

        
    
    
            var circle_83a4902f926b40c190218ffd769c5c28 = L.circle(
                [-19.497, -69.904],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_35f21c01674c4e739a48117705fc15f3 = L.popup({"maxWidth": "100%"});

        
            var html_698f3683163c4a6497a49a3ada5fe20e = $(`<div id="html_698f3683163c4a6497a49a3ada5fe20e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:42<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 44.7 <strong>Referencia:</strong> 34 km al E de Pisagua</div>`)[0];
            popup_35f21c01674c4e739a48117705fc15f3.setContent(html_698f3683163c4a6497a49a3ada5fe20e);
        

        circle_83a4902f926b40c190218ffd769c5c28.bindPopup(popup_35f21c01674c4e739a48117705fc15f3)
        ;

        
    
    
            var circle_fbfd8ae3535440119d02293f20c0adb4 = L.circle(
                [-21.347, -68.734],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 391.3539299999999, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_0e2a9e0ef3754d78be1ec8366fbad9c7 = L.popup({"maxWidth": "100%"});

        
            var html_26c2ac8063d543d0b96f975f8347c6e1 = $(`<div id="html_26c2ac8063d543d0b96f975f8347c6e1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:12:19<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 115.3 <strong>Referencia:</strong> 52 km al O de Ollagüe</div>`)[0];
            popup_0e2a9e0ef3754d78be1ec8366fbad9c7.setContent(html_26c2ac8063d543d0b96f975f8347c6e1);
        

        circle_fbfd8ae3535440119d02293f20c0adb4.bindPopup(popup_0e2a9e0ef3754d78be1ec8366fbad9c7)
        ;

        
    
    
            var circle_50edbc4ea173481cbc06a8b1da26dba6 = L.circle(
                [-21.103, -68.471],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_0ff21ae557334dc4a1c695a9f03b2384 = L.popup({"maxWidth": "100%"});

        
            var html_92eda8aa799a4fb18dabafe3edb30cd4 = $(`<div id="html_92eda8aa799a4fb18dabafe3edb30cd4" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 03:58:26<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 130.4 <strong>Referencia:</strong> 26 km al NO de Ollagüe</div>`)[0];
            popup_0ff21ae557334dc4a1c695a9f03b2384.setContent(html_92eda8aa799a4fb18dabafe3edb30cd4);
        

        circle_50edbc4ea173481cbc06a8b1da26dba6.bindPopup(popup_0ff21ae557334dc4a1c695a9f03b2384)
        ;

        
    
    
            var circle_2ad58d11a2544094bb0b111f6b3c416a = L.circle(
                [-21.512, -68.832],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_218a0b0266194bfbaabf6155488dfe6f = L.popup({"maxWidth": "100%"});

        
            var html_58ced722ffac4e4083b5121c8283a7f6 = $(`<div id="html_58ced722ffac4e4083b5121c8283a7f6" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 01:11:44<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 116.5 <strong>Referencia:</strong> 68 km al SO de Ollagüe</div>`)[0];
            popup_218a0b0266194bfbaabf6155488dfe6f.setContent(html_58ced722ffac4e4083b5121c8283a7f6);
        

        circle_2ad58d11a2544094bb0b111f6b3c416a.bindPopup(popup_218a0b0266194bfbaabf6155488dfe6f)
        ;

        
    
    
            var circle_bd03b46feb1646f0b8abef8945225409 = L.circle(
                [-20.166, -69.149],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_5a3bbfb1429e4f0cbb42ae74af5eff4d = L.popup({"maxWidth": "100%"});

        
            var html_e4bdc2e267c149c285357527af96f8a0 = $(`<div id="html_e4bdc2e267c149c285357527af96f8a0" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 23:13:40<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 96.5 <strong>Referencia:</strong> 41 km al NE de Pica</div>`)[0];
            popup_5a3bbfb1429e4f0cbb42ae74af5eff4d.setContent(html_e4bdc2e267c149c285357527af96f8a0);
        

        circle_bd03b46feb1646f0b8abef8945225409.bindPopup(popup_5a3bbfb1429e4f0cbb42ae74af5eff4d)
        ;

        
    
    
            var circle_3be53c0fffc04572a393d1b9cd485288 = L.circle(
                [-21.387, -68.758],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_381375680d4e49f3b0bcd011ec795cb1 = L.popup({"maxWidth": "100%"});

        
            var html_827605040c054652acc762f48c400e5f = $(`<div id="html_827605040c054652acc762f48c400e5f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 22:50:59<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 119.5 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_381375680d4e49f3b0bcd011ec795cb1.setContent(html_827605040c054652acc762f48c400e5f);
        

        circle_3be53c0fffc04572a393d1b9cd485288.bindPopup(popup_381375680d4e49f3b0bcd011ec795cb1)
        ;

        
    
    
            var circle_3ec9b52cfe734895a2bc1a6800d5af67 = L.circle(
                [-19.817, -69.564],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_1218d8ca534d47269dd847fa028d736a = L.popup({"maxWidth": "100%"});

        
            var html_80c2a5c263c04d388d65e2df226785c3 = $(`<div id="html_80c2a5c263c04d388d65e2df226785c3" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 01:38:32<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 54 km al NE de Pozo Almonte</div>`)[0];
            popup_1218d8ca534d47269dd847fa028d736a.setContent(html_80c2a5c263c04d388d65e2df226785c3);
        

        circle_3ec9b52cfe734895a2bc1a6800d5af67.bindPopup(popup_1218d8ca534d47269dd847fa028d736a)
        ;

        
    
    
            var circle_ec78f17315944ca793d53d08ba253191 = L.circle(
                [-21.098, -68.863],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_1c189b44947e4dc3a789e652402ad19d = L.popup({"maxWidth": "100%"});

        
            var html_a0950c37f7334e95afb24ea0ba326be4 = $(`<div id="html_a0950c37f7334e95afb24ea0ba326be4" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 19:57:18<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 109.1 <strong>Referencia:</strong> 37 km al SO de Mina Collahuasi</div>`)[0];
            popup_1c189b44947e4dc3a789e652402ad19d.setContent(html_a0950c37f7334e95afb24ea0ba326be4);
        

        circle_ec78f17315944ca793d53d08ba253191.bindPopup(popup_1c189b44947e4dc3a789e652402ad19d)
        ;

        
    
    
            var circle_9f0c4941e9fe4b74ae48d91fce1a9518 = L.circle(
                [-20.827, -69.88],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_94c38fb4dbb142ec88e71ea410be5c23 = L.popup({"maxWidth": "100%"});

        
            var html_bfc3a5a2773845b7917da8c2ecb447a1 = $(`<div id="html_bfc3a5a2773845b7917da8c2ecb447a1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 12:29:30<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 59.9 <strong>Referencia:</strong> 64 km al S de Pozo Almonte</div>`)[0];
            popup_94c38fb4dbb142ec88e71ea410be5c23.setContent(html_bfc3a5a2773845b7917da8c2ecb447a1);
        

        circle_9f0c4941e9fe4b74ae48d91fce1a9518.bindPopup(popup_94c38fb4dbb142ec88e71ea410be5c23)
        ;

        
    
    
            var circle_2a1fc4f02b164b538153506ab741b684 = L.circle(
                [-19.977, -68.974],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_09c530b87d2a40d09d72a1fbf63c5986 = L.popup({"maxWidth": "100%"});

        
            var html_3983ca65737240a597c6623358b436bf = $(`<div id="html_3983ca65737240a597c6623358b436bf" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 02:01:42<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 105.8 <strong>Referencia:</strong> 68 km al NE de Pica</div>`)[0];
            popup_09c530b87d2a40d09d72a1fbf63c5986.setContent(html_3983ca65737240a597c6623358b436bf);
        

        circle_2a1fc4f02b164b538153506ab741b684.bindPopup(popup_09c530b87d2a40d09d72a1fbf63c5986)
        ;

        
    
    
            var circle_51d12fc6db64424aa9beabfb673465cb = L.circle(
                [-20.111, -70.029],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_73fe7c6bcb3d45099eba0faa62c81ea1 = L.popup({"maxWidth": "100%"});

        
            var html_e4926074873045419e1c1ef5da8d9113 = $(`<div id="html_e4926074873045419e1c1ef5da8d9113" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-31 17:37:02<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 76.6 <strong>Referencia:</strong> 17 km al NE de Iquique</div>`)[0];
            popup_73fe7c6bcb3d45099eba0faa62c81ea1.setContent(html_e4926074873045419e1c1ef5da8d9113);
        

        circle_51d12fc6db64424aa9beabfb673465cb.bindPopup(popup_73fe7c6bcb3d45099eba0faa62c81ea1)
        ;

        
    
    
            var circle_46b825e91f034b16afd45feda348374b = L.circle(
                [-20.117, -70.379],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_64d00a0b1f28411b99c99b80b3368414 = L.popup({"maxWidth": "100%"});

        
            var html_0560ff7a39494458ab5a86a61490d582 = $(`<div id="html_0560ff7a39494458ab5a86a61490d582" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 20:27:25<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 26 km al NO de Iquique</div>`)[0];
            popup_64d00a0b1f28411b99c99b80b3368414.setContent(html_0560ff7a39494458ab5a86a61490d582);
        

        circle_46b825e91f034b16afd45feda348374b.bindPopup(popup_64d00a0b1f28411b99c99b80b3368414)
        ;

        
    
    
            var circle_b01400cfbc53440fa1e9ede0a72b8932 = L.circle(
                [-20.022, -69.142],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 525.21875, "stroke": true, "weight": 15}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
        var popup_b3439dccf1424b5fb51ba06acb9ff023 = L.popup({"maxWidth": "100%"});

        
            var html_b594e76fb6f1422baa6bfc315f719a90 = $(`<div id="html_b594e76fb6f1422baa6bfc315f719a90" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 19:03:27<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 95.0 <strong>Referencia:</strong> 56 km al N de Pica</div>`)[0];
            popup_b3439dccf1424b5fb51ba06acb9ff023.setContent(html_b594e76fb6f1422baa6bfc315f719a90);
        

        circle_b01400cfbc53440fa1e9ede0a72b8932.bindPopup(popup_b3439dccf1424b5fb51ba06acb9ff023)
        ;

        
    
    
            var marker_9dab9425026844568b0a9186504126c7 = L.marker(
                [-20.214066, -70.152465],
                {}
            ).addTo(map_8783769d75234aedbc1c218d7a482d67);
        
    
            var icon_42c44ce93ba34a03b7c5ffec2c724074 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9dab9425026844568b0a9186504126c7.setIcon(icon_42c44ce93ba34a03b7c5ffec2c724074);
        
    
        var popup_5495ec0a9a7743a5bdff0f36e6edc7e1 = L.popup({"maxWidth": "100%"});

        
            var html_547c369944fb448d83499b2280270e60 = $(`<div id="html_547c369944fb448d83499b2280270e60" style="width: 100.0%; height: 100.0%;"><i>iquique</i></div>`)[0];
            popup_5495ec0a9a7743a5bdff0f36e6edc7e1.setContent(html_547c369944fb448d83499b2280270e60);
        

        marker_9dab9425026844568b0a9186504126c7.bindPopup(popup_5495ec0a9a7743a5bdff0f36e6edc7e1)
        ;

        
    
    
            marker_9dab9425026844568b0a9186504126c7.bindTooltip(
                `<div>
                     Iquique
                 </div>`,
                {"sticky": true}
            );
        
</script>