<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5bdfc44a9d5d435abc8becf113f2b1ff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5bdfc44a9d5d435abc8becf113f2b1ff" ></div>
        
</body>
<script>    
    
            var map_5bdfc44a9d5d435abc8becf113f2b1ff = L.map(
                "map_5bdfc44a9d5d435abc8becf113f2b1ff",
                {
                    center: [-20.214066, -70.152465],
                    crs: L.CRS.EPSG3857,
                    zoom: 7,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_21b1ceb189c148aba622d8343a17fe97 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
            var circle_c7727a48228e4d28bd977ad5153171e0 = L.circle(
                [-20.986, -68.733],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 792.3516799999998, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_582728cb13f44e0b8eb54b319d6a08e2 = L.popup({"maxWidth": "100%"});

        
            var html_80a2e00ae9a149658f2789aee09dd2b4 = $(`<div id="html_80a2e00ae9a149658f2789aee09dd2b4" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 13:12:57<br><strong>magnitud:</strong> 3.8<br><strong>Profundidad:</strong> 110.8 <strong>Referencia:</strong> 19 km al SO de Mina Collahuasi</div>`)[0];
            popup_582728cb13f44e0b8eb54b319d6a08e2.setContent(html_80a2e00ae9a149658f2789aee09dd2b4);
        

        circle_c7727a48228e4d28bd977ad5153171e0.bindPopup(popup_582728cb13f44e0b8eb54b319d6a08e2)
        ;

        
    
    
            var circle_290a40a429d9467eb23e072a5fac3c89 = L.circle(
                [-20.659, -69.012],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_f5ad3db3d0c74e41a76c2028a5aa0aae = L.popup({"maxWidth": "100%"});

        
            var html_94faec43a4f9424bb520e18254abdbc9 = $(`<div id="html_94faec43a4f9424bb520e18254abdbc9" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 10:48:38<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 98.3 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_f5ad3db3d0c74e41a76c2028a5aa0aae.setContent(html_94faec43a4f9424bb520e18254abdbc9);
        

        circle_290a40a429d9467eb23e072a5fac3c89.bindPopup(popup_f5ad3db3d0c74e41a76c2028a5aa0aae)
        ;

        
    
    
            var circle_1518d718b9bc44dc8257e4e07026a094 = L.circle(
                [-21.276, -68.937],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 391.3539299999999, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_26ea48c439314920a7af28a52d60643f = L.popup({"maxWidth": "100%"});

        
            var html_f68403befe2742b8bd11e0507a35e180 = $(`<div id="html_f68403befe2742b8bd11e0507a35e180" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 04:09:18<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 107.9 <strong>Referencia:</strong> 58 km al SO de Mina Collahuasi</div>`)[0];
            popup_26ea48c439314920a7af28a52d60643f.setContent(html_f68403befe2742b8bd11e0507a35e180);
        

        circle_1518d718b9bc44dc8257e4e07026a094.bindPopup(popup_26ea48c439314920a7af28a52d60643f)
        ;

        
    
    
            var circle_57955b72ce6c4f8c9d022298df4e56b5 = L.circle(
                [-21.156, -68.507],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_a048e1943e1f417ca8d90f981811b3f5 = L.popup({"maxWidth": "100%"});

        
            var html_9b3b3f23811844d4a0c1b74770f6f04c = $(`<div id="html_9b3b3f23811844d4a0c1b74770f6f04c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 02:00:49<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 136.0 <strong>Referencia:</strong> 27 km al O de Ollagüe</div>`)[0];
            popup_a048e1943e1f417ca8d90f981811b3f5.setContent(html_9b3b3f23811844d4a0c1b74770f6f04c);
        

        circle_57955b72ce6c4f8c9d022298df4e56b5.bindPopup(popup_a048e1943e1f417ca8d90f981811b3f5)
        ;

        
    
    
            var circle_cd17675a593a435bac085ed39a7b2c35 = L.circle(
                [-20.985, -68.729],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 693.4395700000001, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_94e9bd74c29c40a7a04ce22f5f643c1a = L.popup({"maxWidth": "100%"});

        
            var html_fbe4fe259b06499fbb1a03aa87526d51 = $(`<div id="html_fbe4fe259b06499fbb1a03aa87526d51" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-11 13:12:56<br><strong>magnitud:</strong> 3.7<br><strong>Profundidad:</strong> 104.9 <strong>Referencia:</strong> 19 km al SO de Mina Collahuasi</div>`)[0];
            popup_94e9bd74c29c40a7a04ce22f5f643c1a.setContent(html_fbe4fe259b06499fbb1a03aa87526d51);
        

        circle_cd17675a593a435bac085ed39a7b2c35.bindPopup(popup_94e9bd74c29c40a7a04ce22f5f643c1a)
        ;

        
    
    
            var circle_058bcc350fed4eac9a4592d669c2a713 = L.circle(
                [-20.447, -68.956],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_a6bf8e52ebb340b8ba50375c8ffa9c61 = L.popup({"maxWidth": "100%"});

        
            var html_7c01c000f23e49d5a93d437f95d46e35 = $(`<div id="html_7c01c000f23e49d5a93d437f95d46e35" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 23:09:11<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 96.4 <strong>Referencia:</strong> 39 km al E de Pica</div>`)[0];
            popup_a6bf8e52ebb340b8ba50375c8ffa9c61.setContent(html_7c01c000f23e49d5a93d437f95d46e35);
        

        circle_058bcc350fed4eac9a4592d669c2a713.bindPopup(popup_a6bf8e52ebb340b8ba50375c8ffa9c61)
        ;

        
    
    
            var circle_8d2964e70e7d4ba5894bffbc6aa174ea = L.circle(
                [-21.108, -68.97],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_eb4d6770fb234954bffcc8afbb8b8eb4 = L.popup({"maxWidth": "100%"});

        
            var html_3559908d9d8f43dbad498194de08cc7b = $(`<div id="html_3559908d9d8f43dbad498194de08cc7b" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 17:46:13<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 103.0 <strong>Referencia:</strong> 45 km al SO de Mina Collahuasi</div>`)[0];
            popup_eb4d6770fb234954bffcc8afbb8b8eb4.setContent(html_3559908d9d8f43dbad498194de08cc7b);
        

        circle_8d2964e70e7d4ba5894bffbc6aa174ea.bindPopup(popup_eb4d6770fb234954bffcc8afbb8b8eb4)
        ;

        
    
    
            var circle_056f5c55da5c44fb82f353375573d245 = L.circle(
                [-20.843, -69.083],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_5bcc9cd8c2c64b5cafc7196fc44b65b6 = L.popup({"maxWidth": "100%"});

        
            var html_b62dfc8779f2483fbc33ef6ef95e094e = $(`<div id="html_b62dfc8779f2483fbc33ef6ef95e094e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 13:30:50<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 109.5 <strong>Referencia:</strong> 44 km al O de Mina Collahuasi</div>`)[0];
            popup_5bcc9cd8c2c64b5cafc7196fc44b65b6.setContent(html_b62dfc8779f2483fbc33ef6ef95e094e);
        

        circle_056f5c55da5c44fb82f353375573d245.bindPopup(popup_5bcc9cd8c2c64b5cafc7196fc44b65b6)
        ;

        
    
    
            var circle_937dd036f7bf4ccb88b7a5bab03ac2df = L.circle(
                [-21.195, -68.512],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_aa202ed72f2646559ff01f3ef87e36e0 = L.popup({"maxWidth": "100%"});

        
            var html_d8da0fddd99e41b090db982d04862109 = $(`<div id="html_d8da0fddd99e41b090db982d04862109" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 13:08:33<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 134.0 <strong>Referencia:</strong> 27 km al O de Ollagüe</div>`)[0];
            popup_aa202ed72f2646559ff01f3ef87e36e0.setContent(html_d8da0fddd99e41b090db982d04862109);
        

        circle_937dd036f7bf4ccb88b7a5bab03ac2df.bindPopup(popup_aa202ed72f2646559ff01f3ef87e36e0)
        ;

        
    
    
            var circle_ecc407f91d264990a6e9a3b1d87f5921 = L.circle(
                [-21.229, -68.923],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 454.35423999999995, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_fc26d3206f694c74b22968e01df30669 = L.popup({"maxWidth": "100%"});

        
            var html_df5b1d6508a143e3955f8ff5a40b0e6e = $(`<div id="html_df5b1d6508a143e3955f8ff5a40b0e6e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 03:16:08<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 117.5 <strong>Referencia:</strong> 53 km al SO de Mina Collahuasi</div>`)[0];
            popup_fc26d3206f694c74b22968e01df30669.setContent(html_df5b1d6508a143e3955f8ff5a40b0e6e);
        

        circle_ecc407f91d264990a6e9a3b1d87f5921.bindPopup(popup_fc26d3206f694c74b22968e01df30669)
        ;

        
    
    
            var circle_1c22b7adb06e4fb68a5846afa12f204a = L.circle(
                [-19.982, -69.139],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_97d99dd249c14b5abcf87f84251e25c0 = L.popup({"maxWidth": "100%"});

        
            var html_d59f59b8c07147b88de89c90f931f85c = $(`<div id="html_d59f59b8c07147b88de89c90f931f85c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-10 01:05:38<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 95.5 <strong>Referencia:</strong> 60 km al N de Pica</div>`)[0];
            popup_97d99dd249c14b5abcf87f84251e25c0.setContent(html_d59f59b8c07147b88de89c90f931f85c);
        

        circle_1c22b7adb06e4fb68a5846afa12f204a.bindPopup(popup_97d99dd249c14b5abcf87f84251e25c0)
        ;

        
    
    
            var circle_3dd6df0fdf514daaa1819586de258219 = L.circle(
                [-19.962, -71.031],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_caa1918b462a4d189078d252b54781dd = L.popup({"maxWidth": "100%"});

        
            var html_69b743d84c444c68862ba27423aafee1 = $(`<div id="html_69b743d84c444c68862ba27423aafee1" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 22:30:16<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 95 km al SO de Pisagua</div>`)[0];
            popup_caa1918b462a4d189078d252b54781dd.setContent(html_69b743d84c444c68862ba27423aafee1);
        

        circle_3dd6df0fdf514daaa1819586de258219.bindPopup(popup_caa1918b462a4d189078d252b54781dd)
        ;

        
    
    
            var circle_ade7e14dbef742d0b55c5aacf4ec2c10 = L.circle(
                [-19.904, -69.885],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_36efa5f32fe4486194e9d66737049310 = L.popup({"maxWidth": "100%"});

        
            var html_e28052ab3cc242ac922d9f123e1e8d82 = $(`<div id="html_e28052ab3cc242ac922d9f123e1e8d82" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 17:10:58<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 53.2 <strong>Referencia:</strong> 41 km al N de Pozo Almonte</div>`)[0];
            popup_36efa5f32fe4486194e9d66737049310.setContent(html_e28052ab3cc242ac922d9f123e1e8d82);
        

        circle_ade7e14dbef742d0b55c5aacf4ec2c10.bindPopup(popup_36efa5f32fe4486194e9d66737049310)
        ;

        
    
    
            var circle_6481e4b1f9b4499d86014bd697aca628 = L.circle(
                [-21.38, -68.762],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_c57dacdc68b042078f4339399e047cc1 = L.popup({"maxWidth": "100%"});

        
            var html_7089062aa5264a4eb3fa4a22597afecc = $(`<div id="html_7089062aa5264a4eb3fa4a22597afecc" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-09 04:25:18<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 117.3 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_c57dacdc68b042078f4339399e047cc1.setContent(html_7089062aa5264a4eb3fa4a22597afecc);
        

        circle_6481e4b1f9b4499d86014bd697aca628.bindPopup(popup_c57dacdc68b042078f4339399e047cc1)
        ;

        
    
    
            var circle_a7d2459d20984a91b6f179a87aadc7b1 = L.circle(
                [-20.289, -69.304],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_09afb8a93ddd42cd9637fc802f74ac72 = L.popup({"maxWidth": "100%"});

        
            var html_0b40f5c32d5e4b0b90deb04de2c557a8 = $(`<div id="html_0b40f5c32d5e4b0b90deb04de2c557a8" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 18:05:13<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 89.6 <strong>Referencia:</strong> 23 km al N de Pica</div>`)[0];
            popup_09afb8a93ddd42cd9637fc802f74ac72.setContent(html_0b40f5c32d5e4b0b90deb04de2c557a8);
        

        circle_a7d2459d20984a91b6f179a87aadc7b1.bindPopup(popup_09afb8a93ddd42cd9637fc802f74ac72)
        ;

        
    
    
            var circle_dd2a0f41d2094b1a8c446d6f616a945b = L.circle(
                [-21.033, -68.982],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 335.5443200000001, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_89189e32fd6e443f8d5faeec0c5f5f03 = L.popup({"maxWidth": "100%"});

        
            var html_a23aa7edb8dc447cbceb97a0766877ad = $(`<div id="html_a23aa7edb8dc447cbceb97a0766877ad" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 16:26:58<br><strong>magnitud:</strong> 3.2<br><strong>Profundidad:</strong> 110.3 <strong>Referencia:</strong> 41 km al SO de Mina Collahuasi</div>`)[0];
            popup_89189e32fd6e443f8d5faeec0c5f5f03.setContent(html_a23aa7edb8dc447cbceb97a0766877ad);
        

        circle_dd2a0f41d2094b1a8c446d6f616a945b.bindPopup(popup_89189e32fd6e443f8d5faeec0c5f5f03)
        ;

        
    
    
            var circle_02387a91ad4d4407a2c98c361e3cbb3a = L.circle(
                [-21.411, -69.623],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_624661a1e75f40eda6d507363283120b = L.popup({"maxWidth": "100%"});

        
            var html_4bab80745f1442adbfdcc69bfbde2146 = $(`<div id="html_4bab80745f1442adbfdcc69bfbde2146" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-08 15:48:21<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 67.0 <strong>Referencia:</strong> 29 km al N de Quillagua</div>`)[0];
            popup_624661a1e75f40eda6d507363283120b.setContent(html_4bab80745f1442adbfdcc69bfbde2146);
        

        circle_02387a91ad4d4407a2c98c361e3cbb3a.bindPopup(popup_624661a1e75f40eda6d507363283120b)
        ;

        
    
    
            var circle_9bf85c437ae24413bcd4b45c03cd6be8 = L.circle(
                [-19.759, -69.13],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_60c9f806f4414011948302f1b9d6a413 = L.popup({"maxWidth": "100%"});

        
            var html_7fe286d5898143c0bfd7e871616f4879 = $(`<div id="html_7fe286d5898143c0bfd7e871616f4879" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-07 21:26:15<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 99.6 <strong>Referencia:</strong> 59 km al SE de Camiña</div>`)[0];
            popup_60c9f806f4414011948302f1b9d6a413.setContent(html_7fe286d5898143c0bfd7e871616f4879);
        

        circle_9bf85c437ae24413bcd4b45c03cd6be8.bindPopup(popup_60c9f806f4414011948302f1b9d6a413)
        ;

        
    
    
            var circle_35a0f70f19a04af1a5a748e3776be274 = L.circle(
                [-21.077, -68.96],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_7e623823067d48ef80e8c1d70f734148 = L.popup({"maxWidth": "100%"});

        
            var html_ab3fbcf2185a404ab67c53cf3e718c07 = $(`<div id="html_ab3fbcf2185a404ab67c53cf3e718c07" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 21:27:51<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 110.0 <strong>Referencia:</strong> 42 km al SO de Mina Collahuasi</div>`)[0];
            popup_7e623823067d48ef80e8c1d70f734148.setContent(html_ab3fbcf2185a404ab67c53cf3e718c07);
        

        circle_35a0f70f19a04af1a5a748e3776be274.bindPopup(popup_7e623823067d48ef80e8c1d70f734148)
        ;

        
    
    
            var circle_6920b3689ab64360829a4ed6acd5ad3a = L.circle(
                [-21.214, -70.385],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_992f74627fba4e09a59c1d80e597c9d9 = L.popup({"maxWidth": "100%"});

        
            var html_1343bc015c9f4eaa86af0182a433bfda = $(`<div id="html_1343bc015c9f4eaa86af0182a433bfda" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 06:23:44<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 26.5 <strong>Referencia:</strong> 100 km al N de Tocopilla</div>`)[0];
            popup_992f74627fba4e09a59c1d80e597c9d9.setContent(html_1343bc015c9f4eaa86af0182a433bfda);
        

        circle_6920b3689ab64360829a4ed6acd5ad3a.bindPopup(popup_992f74627fba4e09a59c1d80e597c9d9)
        ;

        
    
    
            var circle_e7f8843c061b4adab292cb556da9ba62 = L.circle(
                [-21.48, -68.428],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_cde3681b127d4422aea48c2c7b424a25 = L.popup({"maxWidth": "100%"});

        
            var html_55f16bb4486042ed862b5dac8981794f = $(`<div id="html_55f16bb4486042ed862b5dac8981794f" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 05:35:12<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 135.3 <strong>Referencia:</strong> 34 km al SO de Ollagüe</div>`)[0];
            popup_cde3681b127d4422aea48c2c7b424a25.setContent(html_55f16bb4486042ed862b5dac8981794f);
        

        circle_e7f8843c061b4adab292cb556da9ba62.bindPopup(popup_cde3681b127d4422aea48c2c7b424a25)
        ;

        
    
    
            var circle_b98205bfd0ab4c87b4f4902f04bb1145 = L.circle(
                [-20.158, -70.006],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_0fd0978006c74c739b832cdd9ee5e61f = L.popup({"maxWidth": "100%"});

        
            var html_052b8998b9f844dcb865fcc9cffd7389 = $(`<div id="html_052b8998b9f844dcb865fcc9cffd7389" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-06 01:54:51<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 50.5 <strong>Referencia:</strong> 16 km al NE de Alto Hospicio</div>`)[0];
            popup_0fd0978006c74c739b832cdd9ee5e61f.setContent(html_052b8998b9f844dcb865fcc9cffd7389);
        

        circle_b98205bfd0ab4c87b4f4902f04bb1145.bindPopup(popup_0fd0978006c74c739b832cdd9ee5e61f)
        ;

        
    
    
            var circle_693e9075b16c4706a3b256766a975443 = L.circle(
                [-20.794, -69.159],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 454.35423999999995, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_13d743c30bce4cd4afd0fd4061f802dd = L.popup({"maxWidth": "100%"});

        
            var html_6e9e2a904f0e40c1bc4ec3634f32a0c5 = $(`<div id="html_6e9e2a904f0e40c1bc4ec3634f32a0c5" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 19:28:21<br><strong>magnitud:</strong> 3.4<br><strong>Profundidad:</strong> 96.1 <strong>Referencia:</strong> 38 km al SE de Pica</div>`)[0];
            popup_13d743c30bce4cd4afd0fd4061f802dd.setContent(html_6e9e2a904f0e40c1bc4ec3634f32a0c5);
        

        circle_693e9075b16c4706a3b256766a975443.bindPopup(popup_13d743c30bce4cd4afd0fd4061f802dd)
        ;

        
    
    
            var circle_a8dcaf7cef1e4b329f320b75e6a0f06a = L.circle(
                [-21.297, -69.7],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_d0fe00a73add473cad75442a27709982 = L.popup({"maxWidth": "100%"});

        
            var html_3547cf6c42aa4000bae59b84db6c3abc = $(`<div id="html_3547cf6c42aa4000bae59b84db6c3abc" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 14:51:59<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 47.5 <strong>Referencia:</strong> 44 km al NO de Quillagua</div>`)[0];
            popup_d0fe00a73add473cad75442a27709982.setContent(html_3547cf6c42aa4000bae59b84db6c3abc);
        

        circle_a8dcaf7cef1e4b329f320b75e6a0f06a.bindPopup(popup_d0fe00a73add473cad75442a27709982)
        ;

        
    
    
            var circle_def063405aaa4193937145116d33d046 = L.circle(
                [-20.438, -69.067],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_5b811872cb8f4c4e8e74b4c44bdfffe4 = L.popup({"maxWidth": "100%"});

        
            var html_7ac1a3e33af046bcb01730f677f2f1fd = $(`<div id="html_7ac1a3e33af046bcb01730f677f2f1fd" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-05 02:10:15<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 28 km al E de Pica</div>`)[0];
            popup_5b811872cb8f4c4e8e74b4c44bdfffe4.setContent(html_7ac1a3e33af046bcb01730f677f2f1fd);
        

        circle_def063405aaa4193937145116d33d046.bindPopup(popup_5b811872cb8f4c4e8e74b4c44bdfffe4)
        ;

        
    
    
            var circle_ab8107f1417f4cdfbd05315df6d6383c = L.circle(
                [-21.113, -68.685],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 902.2419899999999, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_bdb70459213e4074a836b20ef82c9126 = L.popup({"maxWidth": "100%"});

        
            var html_79c29ed13b2e4c29a0519612f1ab6420 = $(`<div id="html_79c29ed13b2e4c29a0519612f1ab6420" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 23:17:26<br><strong>magnitud:</strong> 3.9<br><strong>Profundidad:</strong> 124.0 <strong>Referencia:</strong> 32 km al S de Mina Collahuasi</div>`)[0];
            popup_bdb70459213e4074a836b20ef82c9126.setContent(html_79c29ed13b2e4c29a0519612f1ab6420);
        

        circle_ab8107f1417f4cdfbd05315df6d6383c.bindPopup(popup_bdb70459213e4074a836b20ef82c9126)
        ;

        
    
    
            var circle_945915a668ea448a9bf09db6e0c4b6c3 = L.circle(
                [-21.097, -68.915],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_91d5eccb1eb84d4db590818c395b88bd = L.popup({"maxWidth": "100%"});

        
            var html_77878a1a50d94fbe8d5b63f07c4b8bac = $(`<div id="html_77878a1a50d94fbe8d5b63f07c4b8bac" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 22:54:15<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 108.6 <strong>Referencia:</strong> 40 km al SO de Mina Collahuasi</div>`)[0];
            popup_91d5eccb1eb84d4db590818c395b88bd.setContent(html_77878a1a50d94fbe8d5b63f07c4b8bac);
        

        circle_945915a668ea448a9bf09db6e0c4b6c3.bindPopup(popup_91d5eccb1eb84d4db590818c395b88bd)
        ;

        
    
    
            var circle_75e475294bf14960bd41dc151ca0f477 = L.circle(
                [-19.498, -69.988],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_47d75c7aeaf94e76b8bf267b787a3e49 = L.popup({"maxWidth": "100%"});

        
            var html_9d726d1025564c4b8aa9d0106acbb4f9 = $(`<div id="html_9d726d1025564c4b8aa9d0106acbb4f9" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:41<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 83.0 <strong>Referencia:</strong> 26 km al NE de Pisagua</div>`)[0];
            popup_47d75c7aeaf94e76b8bf267b787a3e49.setContent(html_9d726d1025564c4b8aa9d0106acbb4f9);
        

        circle_75e475294bf14960bd41dc151ca0f477.bindPopup(popup_47d75c7aeaf94e76b8bf267b787a3e49)
        ;

        
    
    
            var circle_e925332ccea4446994185a2020703f93 = L.circle(
                [-21.412, -68.779],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_65ae0d86282749c4bb5914ab4eec8eb9 = L.popup({"maxWidth": "100%"});

        
            var html_29e68e5328be43ccaecd52d13a362f9c = $(`<div id="html_29e68e5328be43ccaecd52d13a362f9c" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 05:02:16<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 103.6 <strong>Referencia:</strong> 58 km al O de Ollagüe</div>`)[0];
            popup_65ae0d86282749c4bb5914ab4eec8eb9.setContent(html_29e68e5328be43ccaecd52d13a362f9c);
        

        circle_e925332ccea4446994185a2020703f93.bindPopup(popup_65ae0d86282749c4bb5914ab4eec8eb9)
        ;

        
    
    
            var circle_1f5524d103bd4f0797030ffd7e73045b = L.circle(
                [-21.318, -69.933],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_ca568b4785394de39f2b4c7a70e1fc07 = L.popup({"maxWidth": "100%"});

        
            var html_1104b0a3c0434f6d8ec494d6a59c9b23 = $(`<div id="html_1104b0a3c0434f6d8ec494d6a59c9b23" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 02:52:57<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 47.0 <strong>Referencia:</strong> 56 km al NO de Quillagua</div>`)[0];
            popup_ca568b4785394de39f2b4c7a70e1fc07.setContent(html_1104b0a3c0434f6d8ec494d6a59c9b23);
        

        circle_1f5524d103bd4f0797030ffd7e73045b.bindPopup(popup_ca568b4785394de39f2b4c7a70e1fc07)
        ;

        
    
    
            var circle_682bef851b0e41e88a7d44d3408b7a7c = L.circle(
                [-20.601, -68.982],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_49dae5b09e1141e2bcf55a7304bd047e = L.popup({"maxWidth": "100%"});

        
            var html_84a0563606c2489bb5f1815a4346f712 = $(`<div id="html_84a0563606c2489bb5f1815a4346f712" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 17:45:25<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 105.2 <strong>Referencia:</strong> 38 km al E de Pica</div>`)[0];
            popup_49dae5b09e1141e2bcf55a7304bd047e.setContent(html_84a0563606c2489bb5f1815a4346f712);
        

        circle_682bef851b0e41e88a7d44d3408b7a7c.bindPopup(popup_49dae5b09e1141e2bcf55a7304bd047e)
        ;

        
    
    
            var circle_d64a26878008413c85777fa392b182bb = L.circle(
                [-21.572, -68.62],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_22468929fc264f93b6edebeb70138b04 = L.popup({"maxWidth": "100%"});

        
            var html_c046e3e75d02489a882487785f468ba6 = $(`<div id="html_c046e3e75d02489a882487785f468ba6" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:50:50<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 125.0 <strong>Referencia:</strong> 54 km al SO de Ollagüe</div>`)[0];
            popup_22468929fc264f93b6edebeb70138b04.setContent(html_c046e3e75d02489a882487785f468ba6);
        

        circle_d64a26878008413c85777fa392b182bb.bindPopup(popup_22468929fc264f93b6edebeb70138b04)
        ;

        
    
    
            var circle_2bf430daf4cd4671be540932918f805e = L.circle(
                [-19.497, -69.904],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_399719416c51488e8c5936d99c98db86 = L.popup({"maxWidth": "100%"});

        
            var html_411378b23df643b7aaf73f55d42fe168 = $(`<div id="html_411378b23df643b7aaf73f55d42fe168" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-04 13:17:42<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 44.7 <strong>Referencia:</strong> 34 km al E de Pisagua</div>`)[0];
            popup_399719416c51488e8c5936d99c98db86.setContent(html_411378b23df643b7aaf73f55d42fe168);
        

        circle_2bf430daf4cd4671be540932918f805e.bindPopup(popup_399719416c51488e8c5936d99c98db86)
        ;

        
    
    
            var circle_0299426cc5d04c7093adda117184dc9c = L.circle(
                [-21.347, -68.734],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 391.3539299999999, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_12fc4a2ef5654d45a1cbc281fde7a973 = L.popup({"maxWidth": "100%"});

        
            var html_f4ac46daa11b4fb8a9c0cc28a6129756 = $(`<div id="html_f4ac46daa11b4fb8a9c0cc28a6129756" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 16:12:19<br><strong>magnitud:</strong> 3.3<br><strong>Profundidad:</strong> 115.3 <strong>Referencia:</strong> 52 km al O de Ollagüe</div>`)[0];
            popup_12fc4a2ef5654d45a1cbc281fde7a973.setContent(html_f4ac46daa11b4fb8a9c0cc28a6129756);
        

        circle_0299426cc5d04c7093adda117184dc9c.bindPopup(popup_12fc4a2ef5654d45a1cbc281fde7a973)
        ;

        
    
    
            var circle_f3fa3355be93473292ca231c4e1c8457 = L.circle(
                [-21.103, -68.471],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 172.10367999999994, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_e99d16d0d70c48839155c76434afb02e = L.popup({"maxWidth": "100%"});

        
            var html_97e71dd57e374f629dd60f18477e2e00 = $(`<div id="html_97e71dd57e374f629dd60f18477e2e00" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 03:58:26<br><strong>magnitud:</strong> 2.8<br><strong>Profundidad:</strong> 130.4 <strong>Referencia:</strong> 26 km al NO de Ollagüe</div>`)[0];
            popup_e99d16d0d70c48839155c76434afb02e.setContent(html_97e71dd57e374f629dd60f18477e2e00);
        

        circle_f3fa3355be93473292ca231c4e1c8457.bindPopup(popup_e99d16d0d70c48839155c76434afb02e)
        ;

        
    
    
            var circle_7875c0333dd84b528102a179f039bb32 = L.circle(
                [-21.512, -68.832],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 205.11148999999997, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_82f99b6de4af4b82ae21564642a229a3 = L.popup({"maxWidth": "100%"});

        
            var html_d8c629e763b4432d90738523b9682110 = $(`<div id="html_d8c629e763b4432d90738523b9682110" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-03 01:11:44<br><strong>magnitud:</strong> 2.9<br><strong>Profundidad:</strong> 116.5 <strong>Referencia:</strong> 68 km al SO de Ollagüe</div>`)[0];
            popup_82f99b6de4af4b82ae21564642a229a3.setContent(html_d8c629e763b4432d90738523b9682110);
        

        circle_7875c0333dd84b528102a179f039bb32.bindPopup(popup_82f99b6de4af4b82ae21564642a229a3)
        ;

        
    
    
            var circle_fef1186f516643cebe4cf6ecfee1f0e7 = L.circle(
                [-20.166, -69.149],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_b3e7043c40864453aee91f22b1682d7b = L.popup({"maxWidth": "100%"});

        
            var html_22ab3e1d37934fb18b6ed62f84b7f14e = $(`<div id="html_22ab3e1d37934fb18b6ed62f84b7f14e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 23:13:40<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 96.5 <strong>Referencia:</strong> 41 km al NE de Pica</div>`)[0];
            popup_b3e7043c40864453aee91f22b1682d7b.setContent(html_22ab3e1d37934fb18b6ed62f84b7f14e);
        

        circle_fef1186f516643cebe4cf6ecfee1f0e7.bindPopup(popup_b3e7043c40864453aee91f22b1682d7b)
        ;

        
    
    
            var circle_d79ca81ca1b2427e9faf067282d7a048 = L.circle(
                [-21.387, -68.758],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 97.65625, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_5e4d4ffcc6dd4183884c8295a70ba687 = L.popup({"maxWidth": "100%"});

        
            var html_fc8d1078e0d74c0f8f486fcf213c2e62 = $(`<div id="html_fc8d1078e0d74c0f8f486fcf213c2e62" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 22:50:59<br><strong>magnitud:</strong> 2.5<br><strong>Profundidad:</strong> 119.5 <strong>Referencia:</strong> 55 km al O de Ollagüe</div>`)[0];
            popup_5e4d4ffcc6dd4183884c8295a70ba687.setContent(html_fc8d1078e0d74c0f8f486fcf213c2e62);
        

        circle_d79ca81ca1b2427e9faf067282d7a048.bindPopup(popup_5e4d4ffcc6dd4183884c8295a70ba687)
        ;

        
    
    
            var circle_115cb62e4fc048aea296c5da5e3dd1a8 = L.circle(
                [-19.817, -69.564],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 286.29151, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_b21ca923046d406690e4c1c41f822ee2 = L.popup({"maxWidth": "100%"});

        
            var html_f1f71c263f1047aa8b392d987957c6a2 = $(`<div id="html_f1f71c263f1047aa8b392d987957c6a2" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-02 01:38:32<br><strong>magnitud:</strong> 3.1<br><strong>Profundidad:</strong> 105.3 <strong>Referencia:</strong> 54 km al NE de Pozo Almonte</div>`)[0];
            popup_b21ca923046d406690e4c1c41f822ee2.setContent(html_f1f71c263f1047aa8b392d987957c6a2);
        

        circle_115cb62e4fc048aea296c5da5e3dd1a8.bindPopup(popup_b21ca923046d406690e4c1c41f822ee2)
        ;

        
    
    
            var circle_66cd0198c03347b189e810e611bd0c6c = L.circle(
                [-21.098, -68.863],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 143.48907000000005, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_269e4586e14848209df0925fc183adea = L.popup({"maxWidth": "100%"});

        
            var html_c1db440d903d44a589fbc75cf65cdb87 = $(`<div id="html_c1db440d903d44a589fbc75cf65cdb87" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 19:57:18<br><strong>magnitud:</strong> 2.7<br><strong>Profundidad:</strong> 109.1 <strong>Referencia:</strong> 37 km al SO de Mina Collahuasi</div>`)[0];
            popup_269e4586e14848209df0925fc183adea.setContent(html_c1db440d903d44a589fbc75cf65cdb87);
        

        circle_66cd0198c03347b189e810e611bd0c6c.bindPopup(popup_269e4586e14848209df0925fc183adea)
        ;

        
    
    
            var circle_28cad8b87507441b83a13624b17a0643 = L.circle(
                [-20.827, -69.88],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_8964c718c75e47bb87538518f86d634e = L.popup({"maxWidth": "100%"});

        
            var html_602d27e23a04442db2262fa74fceb0d8 = $(`<div id="html_602d27e23a04442db2262fa74fceb0d8" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 12:29:30<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 59.9 <strong>Referencia:</strong> 64 km al S de Pozo Almonte</div>`)[0];
            popup_8964c718c75e47bb87538518f86d634e.setContent(html_602d27e23a04442db2262fa74fceb0d8);
        

        circle_28cad8b87507441b83a13624b17a0643.bindPopup(popup_8964c718c75e47bb87538518f86d634e)
        ;

        
    
    
            var circle_6ad9d6bf1c304e6d9090615c6269832c = L.circle(
                [-19.977, -68.974],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 243.0, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_c42689a759f4454e8dfa7dc6422f9736 = L.popup({"maxWidth": "100%"});

        
            var html_1e4c15d628db4771a9ccaa8294cb1b6e = $(`<div id="html_1e4c15d628db4771a9ccaa8294cb1b6e" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2022-01-01 02:01:42<br><strong>magnitud:</strong> 3.0<br><strong>Profundidad:</strong> 105.8 <strong>Referencia:</strong> 68 km al NE de Pica</div>`)[0];
            popup_c42689a759f4454e8dfa7dc6422f9736.setContent(html_1e4c15d628db4771a9ccaa8294cb1b6e);
        

        circle_6ad9d6bf1c304e6d9090615c6269832c.bindPopup(popup_c42689a759f4454e8dfa7dc6422f9736)
        ;

        
    
    
            var circle_d8409567702447e588e1664ee9d5daf4 = L.circle(
                [-20.111, -70.029],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_fff804971fd4486393cd20fac729edbf = L.popup({"maxWidth": "100%"});

        
            var html_33e31d78cd3f4dcaa7cc0e8473d32335 = $(`<div id="html_33e31d78cd3f4dcaa7cc0e8473d32335" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-31 17:37:02<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 76.6 <strong>Referencia:</strong> 17 km al NE de Iquique</div>`)[0];
            popup_fff804971fd4486393cd20fac729edbf.setContent(html_33e31d78cd3f4dcaa7cc0e8473d32335);
        

        circle_d8409567702447e588e1664ee9d5daf4.bindPopup(popup_fff804971fd4486393cd20fac729edbf)
        ;

        
    
    
            var circle_5eee039d7c514bc699907bbedde6e3b7 = L.circle(
                [-20.117, -70.379],
                {"bubblingMouseEvents": true, "color": "#008f39", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#008f39", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 118.81376000000002, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_91083a27c3df4d5fa57cc6f3c23ad8b0 = L.popup({"maxWidth": "100%"});

        
            var html_c1fd1ec65d6c4b71bc4b1b6fcc85d589 = $(`<div id="html_c1fd1ec65d6c4b71bc4b1b6fcc85d589" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 20:27:25<br><strong>magnitud:</strong> 2.6<br><strong>Profundidad:</strong> 31.1 <strong>Referencia:</strong> 26 km al NO de Iquique</div>`)[0];
            popup_91083a27c3df4d5fa57cc6f3c23ad8b0.setContent(html_c1fd1ec65d6c4b71bc4b1b6fcc85d589);
        

        circle_5eee039d7c514bc699907bbedde6e3b7.bindPopup(popup_91083a27c3df4d5fa57cc6f3c23ad8b0)
        ;

        
    
    
            var circle_97fda6cea9a64dc48443cd94e190c8bd = L.circle(
                [-20.022, -69.142],
                {"bubblingMouseEvents": true, "color": "#ffda79", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#ffda79", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 0.7, "radius": 525.21875, "stroke": true, "weight": 15}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
        var popup_014eb433d35f447a9084c17d2fbec33e = L.popup({"maxWidth": "100%"});

        
            var html_e22e092a01f64e40bb908173c00c7e25 = $(`<div id="html_e22e092a01f64e40bb908173c00c7e25" style="width: 100.0%; height: 100.0%;"><strong>Hora Local:</strong><br> 2021-12-30 19:03:27<br><strong>magnitud:</strong> 3.5<br><strong>Profundidad:</strong> 95.0 <strong>Referencia:</strong> 56 km al N de Pica</div>`)[0];
            popup_014eb433d35f447a9084c17d2fbec33e.setContent(html_e22e092a01f64e40bb908173c00c7e25);
        

        circle_97fda6cea9a64dc48443cd94e190c8bd.bindPopup(popup_014eb433d35f447a9084c17d2fbec33e)
        ;

        
    
    
            var marker_0be0098f3314466593d1b3b056eb70e4 = L.marker(
                [-20.214066, -70.152465],
                {}
            ).addTo(map_5bdfc44a9d5d435abc8becf113f2b1ff);
        
    
            var icon_f590c5854e8f4d57bcb8c0504404adad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0be0098f3314466593d1b3b056eb70e4.setIcon(icon_f590c5854e8f4d57bcb8c0504404adad);
        
    
        var popup_dad71c23615a4cd997fc185d1fd7fec5 = L.popup({"maxWidth": "100%"});

        
            var html_20f5d46cd7a8402b8bee48a442b0247f = $(`<div id="html_20f5d46cd7a8402b8bee48a442b0247f" style="width: 100.0%; height: 100.0%;"><i>iquique</i></div>`)[0];
            popup_dad71c23615a4cd997fc185d1fd7fec5.setContent(html_20f5d46cd7a8402b8bee48a442b0247f);
        

        marker_0be0098f3314466593d1b3b056eb70e4.bindPopup(popup_dad71c23615a4cd997fc185d1fd7fec5)
        ;

        
    
    
            marker_0be0098f3314466593d1b3b056eb70e4.bindTooltip(
                `<div>
                     Iquique
                 </div>`,
                {"sticky": true}
            );
        
</script>